// Auth Pages

.auth {
	min-height: 100%;
	@extend .mx-auto;
	@extend .text-center;
	padding-bottom: 1.8rem;

	header {
		@extend .mx-auto;

		// brand size
		.brand {
			@extend .mb-7;
			@include media-breakpoint-up(lg) {
				margin-top: 3rem;
			}

			img {
				max-height: 45px;

				@include media-breakpoint-down(sm) {
					max-width: 150px;
				}

				@include media-breakpoint-only(md) {
					max-width: 210px;
				}

				@include media-breakpoint-up(lg) {
					max-width: 300px;
				}
			}
		}
	}

	> header,
	> section,
	> div {
		padding-left: 1.8rem;
		padding-right: 1.8rem;
	}

	// card
	.card {
		border: none;
		@extend .mx-auto;

		// white card
		&:not(.no-bg){
			background-color: $white;
		}

		// regular padding vertical
		&:not(.card-py-sm),
		&:not(.card-collapse) {
			@extend .pt-6;
			@extend .pb-5;
		}

		// padding vertical small
		&.card-py-sm {
			@extend .py-4;
		}

		// regular card
		&:not(.card-lg) {
			max-width: 540px;
		}

		// large card
		&.card-lg {
			max-width: 750px;
		}

		&.card-collapse {
			margin: 0;
			padding: 0;

			.card-header,
			.card-block,
			.card-footer {

			}
		}

		&:not(.card-collapse) {
			.card-header,
			.card-block,
			.card-footer {
				@extend .px-6;
			}

			.card-header {
				@extend .mb-4;
				@extend .py-1;
			}

			.card-block {
				@extend .py-1;
			}

			.card-footer {
				@extend .pt-2;
				@extend .pb-0;
			}
		}

		.card-header,
		.card-block,
		.card-footer {
			@extend .no-bbb;
		}


		// card header
		.card-header {
			color: $gray-600;
		}

		// card block
		.card-block {
			color: $gray-800;

			.card-title,
      a:not(.btn) {
        color: $gray-dark;
      }

			.card-title {
				@extend .my-4;
				font-size: 1.1rem;
				font-weight: 400;
			}

			.card-text {
				font-size: 0.9rem;
			}

			form {
				margin-top: 2.1rem;
				color: $gray-800;
				text-align: left;

				a:not(.btn) {
		      color: $gray-800;
		    }

		    a:not(.btn):hover,
		    .form-check-label:hover {
		      color: $gray-dark;
		    }

		    .form-group {
		    	margin-top: 0;
		    	margin-bottom: 1rem;
		    }

		    .btn-block {
		    	margin-top: 2.1rem;
		    }
			}

			// pode ter botão fora do form
			.btn {
				@extend .mb-1;
			}

			.alert {
				@extend .no-bbb;
				font-size: 0.95rem;
				text-align: center;
			}
		}

		// card footer
		.card-footer {
			font-size: 0.85rem;

			p {
				filter: alpha(opacity=60);
				opacity: 0.60;
				
				a:hover {
					border-bottom: 1px dotted $gray-300;
				}
			}

			> a,
			> button {
				filter: alpha(opacity=90);
				opacity: 0.90;

				&:hover {
					filter: alpha(opacity=100);
					opacity: 1;
				}
			}
		}
	}

	// cta
	.cta {
		@extend .mt-5;
		@extend .mb-3;
		small {
			display: block;
			margin-bottom: 3px;
		}
	}
}







// .register-01 {
// 	form {

// 		.form-group {

// 			label {
// 				margin-bottom: 0;
// 				padding: 0;
// 				color: #9d9d9d;
// 				text-transform: uppercase;
// 			}

// 			.checkbox {
// 				margin: 0;
// 				padding-top: 0;
// 				padding-bottom: 0;

// 				a {
// 					border-bottom: 1px dotted rgba(0,0,0,0.3);
// 				}

// 				label {
// 					line-height: 1.688rem;
// 					font-size: 0.75rem !important;
// 				}
// 			}

// 			input {
// 				height: 1.875rem;
// 				margin-top: 0;
// 				padding: 0;
// 				border-top: none;
// 				border-right: none;
// 				border-left: none;
// 			}

// 			.text-center {
// 				input {
// 					text-align: center;
// 				}
// 			}
// 		}
// 	}

// .register-02 {
// 	margin: 2.25rem auto ;

// 	form {
// 		.input-group {
// 			.form-control {
// 				padding-left: 1.313rem;
// 			}

// 			.input-group-btn {
// 				min-width: 3.75rem;
// 			}
// 		}

// 		.form-group {
// 			.form-control {
// 				padding: 0.5rem 0.75rem;
// 			}

// 			&.select {
// 				select.form-control {
// 					height: 3.75rem;
// 				}
// 			}
// 		}
// 	}
