// Breadcrumb

  .breadcrumb {
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;

    @include media-breakpoint-down(md) {
      display: none;
    }


    li.breadcrumb-item {
      font-size: 13px;
      font-weight: 300;

      +.breadcrumb-item::before {
        color: #ccc;
      }

      & .active {
        color: #9e9e9e;
      }

      a {
        color: #9e9e9e;

        &:hover {
          color: #363636;
          text-decoration: underline;
        }
      }
    }
  }