
@mixin btn {
    .btn {
        transition: all ease-in-out .4s;
    }

  &:hover,
	&:focus,
	&:active {
		transition: all ease-in-out .4s;
	}
}

@media (max-width: 1199px) {
	.panel-content {
		& > .row {
			& > *[class^="col-"] {
				margin-top: 30px;
			}
		}
	}
}

.btn.rounded {
	border-radius: 1.25rem;

	&.btn-lg {
		border-radius: 1.563rem;
	}
}

.btn.btn-primary {
	@extend .text-white;
	@include btn;

	background-color: $brand-primary;
	border-color: $brand-primary;

	&:hover,
	&:focus,
	&:active {
		background-color: $primary-500;
		border-color: $primary-500;
	}

	// Color Shades
	// 100 - 800
	//
		&.s-100 {
			background-color: $primary-100;
			border-color: 		$primary-100;

			&:hover {
				background-color: darken($primary-100, 10%);
				border-color: 		darken($primary-100, 10%);
			}
		}

		&.s-200 {
			background-color: $primary-200;
			border-color: 		$primary-200;

			&:hover {
				background-color: darken($primary-200, 10%);
				border-color: 		darken($primary-200, 10%);
			}
		}

		&.s-300 {
			background-color: $primary-300;
			border-color: 		$primary-300;

			&:hover {
				background-color: darken($primary-300, 10%);
				border-color: 		darken($primary-300, 10%);
			}
		}

		&.s-400 {
			background-color: $primary-400;
			border-color: 		$primary-400;

			&:hover {
				background-color: darken($primary-400, 10%);
				border-color: 		darken($primary-400, 10%);
			}
		}

		&.s-500 {
			background-color: $primary-500;
			border-color: 		$primary-500;

			&:hover {
				background-color: darken($primary-500, 10%);
				border-color: 		darken($primary-500, 10%);
			}
		}

		&.s-600 {
			background-color: $primary-600;
			border-color: 		$primary-600;

			&:hover {
				background-color: darken($primary-600, 10%);
				border-color: 		darken($primary-600, 10%);
			}
		}

		&.s-700 {
			background-color: $primary-700;
			border-color: 		$primary-700;

			&:hover {
				background-color: darken($primary-700, 10%);
				border-color: 		darken($primary-700, 10%);
			}
		}

		&.s-800 {
			background-color: $primary-800;
			border-color: 		$primary-800;

			&:hover {
				background-color: darken($primary-800, 10%);
				border-color: 		darken($primary-800, 10%);
			}
		}
}

.btn.btn-gray {
	@extend .text-white;

  background-color: $gray;
	border-color: $gray;


	// Color Shades
	// 100 - 800
	//
		&.s-100 {
			background-color: $gray-100;
			border-color: 		$gray-100;

			&:hover {
				background-color: darken($gray-100, 10%);
				border-color: 		darken($gray-100, 10%);
			}
		}

		&.s-200 {
			background-color: $gray-200;
			border-color: 		$gray-200;

			&:hover {
				background-color: darken($gray-200, 10%);
				border-color: 		darken($gray-200, 10%);
			}
		}

		&.s-300 {
			background-color: $gray-300;
			border-color: 		$gray-300;

			&:hover {
				background-color: darken($gray-300, 10%);
				border-color: 		darken($gray-300, 10%);
			}
		}

		&.s-400 {
			background-color: $gray-400;
			border-color: 		$gray-400;

			&:hover {
				background-color: darken($gray-400, 10%);
				border-color: 		darken($gray-400, 10%);
			}
		}

		&.s-500 {
			background-color: $gray-500;
			border-color: 		$gray-500;

			&:hover {
				background-color: darken($gray-500, 10%);
				border-color: 		darken($gray-500, 10%);
			}
		}

		&.s-600 {
			background-color: $gray-600;
			border-color: 		$gray-600;

			&:hover {
				background-color: darken($gray-600, 10%);
				border-color: 		darken($gray-600, 10%);
			}
		}

		&.s-700 {
			background-color: $gray-700;
			border-color: 		$gray-700;

			&:hover {
				background-color: darken($gray-700, 10%);
				border-color: 		darken($gray-700, 10%);
			}
		}

		&.s-800 {
			background-color: $gray-800;
			border-color: 		$gray-800;

			&:hover {
				background-color: darken($gray-800, 10%);
				border-color: 		darken($gray-800, 10%);
			}
		}
}

.btn.btn-success {
	@extend .text-white;
	@include btn;

	background-color: $brand-success;
	border-color: $brand-success;

	&:hover,
	&:focus,
	&:active {
		background-color: $success-500;
		border-color: $success-500;
	}

	&:hover,
	&:focus,
	&:active {
		background-color: $success-500;
		border-color: $success-500;
	}

	// Color Shades
	// 100 - 800
	//
		&.s-100 {
			background-color: $success-100;
			border-color: 		$success-100;

			&:hover {
				background-color: darken($success-100, 10%);
				border-color: 		darken($success-100, 10%);
			}
		}

		&.s-200 {
			background-color: $success-200;
			border-color: 		$success-200;

			&:hover {
				background-color: darken($success-200, 10%);
				border-color: 		darken($success-200, 10%);
			}
		}

		&.s-300 {
			background-color: $success-300;
			border-color: 		$success-300;

			&:hover {
				background-color: darken($success-300, 10%);
				border-color: 		darken($success-300, 10%);
			}
		}

		&.s-400 {
			background-color: $success-400;
			border-color: 		$success-400;

			&:hover {
				background-color: darken($success-400, 10%);
				border-color: 		darken($success-400, 10%);
			}
		}

		&.s-500 {
			background-color: $success-500;
			border-color: 		$success-500;

			&:hover {
				background-color: darken($success-500, 10%);
				border-color: 		darken($success-500, 10%);
			}
		}

		&.s-600 {
			background-color: $success-600;
			border-color: 		$success-600;

			&:hover {
				background-color: darken($success-600, 10%);
				border-color: 		darken($success-600, 10%);
			}
		}

		&.s-700 {
			background-color: $success-700;
			border-color: 		$success-700;

			&:hover {
				background-color: darken($success-700, 10%);
				border-color: 		darken($success-700, 10%);
			}
		}

		&.s-800 {
			background-color: $success-800;
			border-color: 		$success-800;

			&:hover {
				background-color: darken($success-800, 10%);
				border-color: 		darken($success-800, 10%);
			}
		}
}

.btn.btn-info {
	@extend .text-white;
	@include btn;

	background-color: $brand-info;
	border-color: $brand-info;

	&:hover,
	&:focus,
	&:active {
		background-color: $info-500;
		border-color: $info-500;
	}

	&:hover,
	&:focus,
	&:active {
		background-color: $info-500;
		border-color: $info-500;
	}


	// Color Shades
	// 100 - 800
	//
		&.s-100 {
			background-color: $info-100;
			border-color: 		$info-100;

			&:hover {
				background-color: darken($info-100, 10%);
				border-color: 		darken($info-100, 10%);
			}
		}

		&.s-200 {
			background-color: $info-200;
			border-color: 		$info-200;

			&:hover {
				background-color: darken($info-200, 10%);
				border-color: 		darken($info-200, 10%);
			}
		}

		&.s-300 {
			background-color: $info-300;
			border-color: 		$info-300;

			&:hover {
				background-color: darken($info-300, 10%);
				border-color: 		darken($info-300, 10%);
			}
		}

		&.s-400 {
			background-color: $info-400;
			border-color: 		$info-400;

			&:hover {
				background-color: darken($info-400, 10%);
				border-color: 		darken($info-400, 10%);
			}
		}

		&.s-500 {
			background-color: $info-500;
			border-color: 		$info-500;

			&:hover {
				background-color: darken($info-500, 10%);
				border-color: 		darken($info-500, 10%);
			}
		}

		&.s-600 {
			background-color: $info-600;
			border-color: 		$info-600;

			&:hover {
				background-color: darken($info-600, 10%);
				border-color: 		darken($info-600, 10%);
			}
		}

		&.s-700 {
			background-color: $info-700;
			border-color: 		$info-700;

			&:hover {
				background-color: darken($info-700, 10%);
				border-color: 		darken($info-700, 10%);
			}
		}

		&.s-800 {
			background-color: $info-800;
			border-color: 		$info-800;

			&:hover {
				background-color: darken($info-800, 10%);
				border-color: 		darken($info-800, 10%);
			}
		}
}

.btn.btn-warning {
	@extend .text-white;
	@include btn;

	background-color: $brand-warning;
	border-color: $brand-warning;

	&:hover,
	&:focus,
	&:active {
		background-color: $warning-500;
		border-color: $warning-500;
	}


	&:hover,
	&:focus,
	&:active {
		background-color: $warning-500;
		border-color: $warning-500;
	}

	// Color Shades
	// 100 - 800
	//
		&.s-100 {
			background-color: $warning-100;
			border-color: 		$warning-100;

			&:hover {
				background-color: darken($warning-100, 10%);
				border-color: 		darken($warning-100, 10%);
			}
		}

		&.s-200 {
			background-color: $warning-200;
			border-color: 		$warning-200;

			&:hover {
				background-color: darken($warning-200, 10%);
				border-color: 		darken($warning-200, 10%);
			}
		}

		&.s-300 {
			background-color: $warning-300;
			border-color: 		$warning-300;

			&:hover {
				background-color: darken($warning-300, 10%);
				border-color: 		darken($warning-300, 10%);
			}
		}

		&.s-400 {
			background-color: $warning-400;
			border-color: 		$warning-400;

			&:hover {
				background-color: darken($warning-400, 10%);
				border-color: 		darken($warning-400, 10%);
			}
		}

		&.s-500 {
			background-color: $warning-500;
			border-color: 		$warning-500;

			&:hover {
				background-color: darken($warning-500, 10%);
				border-color: 		darken($warning-500, 10%);
			}
		}

		&.s-600 {
			background-color: $warning-600;
			border-color: 		$warning-600;

			&:hover {
				background-color: darken($warning-600, 10%);
				border-color: 		darken($warning-600, 10%);
			}
		}

		&.s-700 {
			background-color: $warning-700;
			border-color: 		$warning-700;

			&:hover {
				background-color: darken($warning-700, 10%);
				border-color: 		darken($warning-700, 10%);
			}
		}

		&.s-800 {
			background-color: $warning-800;
			border-color: 		$warning-800;

			&:hover {
				background-color: darken($warning-800, 10%);
				border-color: 		darken($warning-800, 10%);
			}
		}
}

.btn.btn-danger {
	@extend .text-white;
	@include btn;

	background-color: $brand-danger;
	border-color: $brand-danger;

	&:hover,
	&:focus,
	&:active {
		background-color: $danger-500;
		border-color: $danger-500;
	}


	// Color Shades
	// 100 - 800
	//
		&.s-100 {
			background-color: $danger-100;
			border-color: 		$danger-100;

			&:hover {
				background-color: darken($danger-100, 10%);
				border-color: 		darken($danger-100, 10%);
			}
		}

		&.s-200 {
			background-color: $danger-200;
			border-color: 		$danger-200;

			&:hover {
				background-color: darken($danger-200, 10%);
				border-color: 		darken($danger-200, 10%);
			}
		}

		&.s-300 {
			background-color: $danger-300;
			border-color: 		$danger-300;

			&:hover {
				background-color: darken($danger-300, 10%);
				border-color: 		darken($danger-300, 10%);
			}
		}

		&.s-400 {
			background-color: $danger-400;
			border-color: 		$danger-400;

			&:hover {
				background-color: darken($danger-400, 10%);
				border-color: 		darken($danger-400, 10%);
			}
		}

		&.s-500 {
			background-color: $danger-500;
			border-color: 		$danger-500;

			&:hover {
				background-color: darken($danger-500, 10%);
				border-color: 		darken($danger-500, 10%);
			}
		}

		&.s-600 {
			background-color: $danger-600;
			border-color: 		$danger-600;

			&:hover {
				background-color: darken($danger-600, 10%);
				border-color: 		darken($danger-600, 10%);
			}
		}

		&.s-700 {
			background-color: $danger-700;
			border-color: 		$danger-700;

			&:hover {
				background-color: darken($danger-700, 10%);
				border-color: 		darken($danger-700, 10%);
			}
		}

		&.s-800 {
			background-color: $danger-800;
			border-color: 		$danger-800;

			&:hover {
				background-color: darken($danger-800, 10%);
				border-color: 		darken($danger-800, 10%);
			}
		}
}

.btn.btn-inverse {
	@extend .text-white;
	@include btn;

	background-color: $brand-inverse;
	border-color: $brand-inverse;

	&:hover,
	&:focus,
	&:active {
		background-color: $inverse-500;
		border-color: $inverse-500;
	}


	// Color Shades
	// 100 - 800
	//
		&.s-100 {
			background-color: $inverse-100;
			border-color: 		$inverse-100;

			&:hover {
				background-color: darken($inverse-100, 10%);
				border-color: 		darken($inverse-100, 10%);
			}
		}

		&.s-200 {
			background-color: $inverse-200;
			border-color: 		$inverse-200;

			&:hover {
				background-color: darken($inverse-200, 10%);
				border-color: 		darken($inverse-200, 10%);
			}
		}

		&.s-300 {
			background-color: $inverse-300;
			border-color: 		$inverse-300;

			&:hover {
				background-color: darken($inverse-300, 10%);
				border-color: 		darken($inverse-300, 10%);
			}
		}

		&.s-400 {
			background-color: $inverse-400;
			border-color: 		$inverse-400;

			&:hover {
				background-color: darken($inverse-400, 10%);
				border-color: 		darken($inverse-400, 10%);
			}
		}

		&.s-500 {
			background-color: $inverse-500;
			border-color: 		$inverse-500;

			&:hover {
				background-color: darken($inverse-500, 10%);
				border-color: 		darken($inverse-500, 10%);
			}
		}

		&.s-600 {
			background-color: $inverse-600;
			border-color: 		$inverse-600;

			&:hover {
				background-color: darken($inverse-600, 10%);
				border-color: 		darken($inverse-600, 10%);
			}
		}

		&.s-700 {
			background-color: $inverse-700;
			border-color: 		$inverse-700;

			&:hover {
				background-color: darken($inverse-700, 10%);
				border-color: 		darken($inverse-700, 10%);
			}
		}

		&.s-800 {
			background-color: $inverse-800;
			border-color: 		$inverse-800;

			&:hover {
				background-color: darken($inverse-800, 10%);
				border-color: 		darken($inverse-800, 10%);
			}
		}
}