// .card {
//  border-radius: 0px;

//  .card-block {
//    padding: 1.875rem;

//    .card-header {
//      background-color: transparent;
//      padding: 0 0 1rem;
//      margin: 0 0 1.75rem;
//      border-bottom: 1px solid #ededed;

//      .card-title {
//        font-size: 1.25rem;
//        font-weight: 700;
//      }
//    }
//  }
// }

.thumbnail {
	color: #292b2c;

	&:hover,
	&:focus,
	&:active,
	&.active {
		color: #000000;
	}
}

.card {

	border-radius: 0px;

	// Card with Background image
	//
	&.bg {

		// Inner content and gradient overlay
		//
		&.inner {
			position: relative;
			color: #FFFFFF;

			.card-block {
				position: absolute;
				height: 100%;
				width: 100%;

				background: rgba(255,255,255,0);
				background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(0,0,0,1)));
				background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
				background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
				background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
				background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );

				.content {
					position: absolute;
					margin: auto;
					padding: 15px;
					bottom: 0;
					right: 0;
					left: 0;

					h4 {
						font-size: 1.125rem;
					}

					.card-text {
						color: #b3b3b3;
					}
				}
			}

			@media (max-width: 767px) {
				& {
					margin-bottom: 30px;
				}
			}

			@media (min-width: 768px) {
				& {
					margin-bottom: 21px;
				}
			}

			// Card with hidden content. Show with hover.
			//
			&.hidden {
				// overflow: hidden;

				.content {
					.card-text {
						position: relative;
						display: block;
						color: #fff;
						font-size: 13px;
						margin-bottom: -20px;
						opacity: 0;
						transition: all 350ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
					}
				}

				&:hover {
					.card-text {
						margin-bottom: 0px;
						opacity: 1;
					}
				}
			}
		}
	}


	// Card with left image and right content
	//
	&.custom-03 {
		@extend .no-border;
		@extend .mb-3;

		p.lead {
			margin-bottom: 0;
			font-size: 1.1rem;
			color: $gray-dark !important;
		}

		p.lead + span {
			margin-bottom: 1rem;
		}

		span {
			display: block;
			font-size: 14px;

			&.place,
			&.value {
				text-align: right;
			}

			&.badge {
				font-size: 12px;
			}
		}

		h3 > small {
			@extend .pt-3;
			display: block;
		}

		// Image + Badge
		//
		.img-badge {
			position: relative;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;

			img {
				max-height: 172px;
			}

			.badge {
				position: absolute;
				top: 0;
				margin: 1rem;
				padding: 0.4rem 0.6rem !important;
				text-transform: uppercase;
				font-weight: 700;
			}
		}

		@media (max-width: 575px) {
			&{
				margin-bottom: 21px;
			}
		}

		@media (max-width: 767px) {
			h3.text-right {
				text-align: left !important;
				margin-top: 0.75rem;
			}

			small {
				font-size: 13px;
			}

			.badge {
				left: 0;
			}

			.content {
				text-align: left;
			}
		}

		@media (max-width: 1199px) {
			& > .w-35,
			& > .w-65 {
				width: 100% !important;
			}

			.img-badge {
				height: 180px;
			}
		}
	}
}