//  Background & Texts
//
// S -> Shade

/*  Primary
  -------------------------------------------------------- */
  .bg-primary {
    @extend .text-white;
    &.bg-100, .bg-100   { background-color: $primary-100; }
    &.bg-200, .bg-200   { background-color: $primary-200; }
    &.bg-300, .bg-300   { background-color: $primary-300; }
    &,        .bg-400   { background-color: $primary-400; }
    &.bg-500, .bg-500   { background-color: $primary-500; }
    &.bg-600, .bg-600   { background-color: $primary-600; }
    &.bg-700, .bg-700   { background-color: $primary-700; }
    &.bg-800, .bg-800   { background-color: $primary-800; }
  }

  .text-primary {
    &.s-100           { color: $primary-100 !important; }
    &.s-200           { color: $primary-200 !important; }
    &.s-300           { color: $primary-300 !important; }
    &, .s-400         { color: $primary-400; }
    &.s-500           { color: $primary-500 !important; }
    &.s-600           { color: $primary-600 !important; }
    &.s-700           { color: $primary-700 !important; }
    &.s-800           { color: $primary-800 !important; }
  }


/*  Success
  -------------------------------------------------------- */
  .bg-success {
    @extend .text-white;
    &.bg-100, .bg-100   { background-color: $success-100; }
    &.bg-200, .bg-200   { background-color: $success-200; }
    &.bg-300, .bg-300   { background-color: $success-300; }
    &,        .bg-400   { background-color: $success-400; }
    &.bg-500, .bg-500   { background-color: $success-500; }
    &.bg-600, .bg-600   { background-color: $success-600; }
    &.bg-700, .bg-700   { background-color: $success-700; }
    &.bg-800, .bg-800   { background-color: $success-800; }
  }

  .text-success {
    &.s-100             { color: $success-100 !important; }
    &.s-200             { color: $success-200 !important; }
    &.s-300             { color: $success-300 !important; }
    &, .s-400           { color: $success-400; }
    &.s-500             { color: $success-500 !important; }
    &.s-600             { color: $success-600 !important; }
    &.s-700             { color: $success-700 !important; }
    &.s-800             { color: $success-800 !important; }
  }


/*  Info
  -------------------------------------------------------- */
  .bg-info {
    @extend .text-white;
    &.bg-100, .bg-100   { background-color: $info-100; }
    &.bg-200, .bg-200   { background-color: $info-200; }
    &.bg-300, .bg-300   { background-color: $info-300; }
    &,        .bg-400   { background-color: $info-400; }
    &.bg-500, .bg-500   { background-color: $info-500; }
    &.bg-600, .bg-600   { background-color: $info-600; }
    &.bg-700, .bg-700   { background-color: $info-700; }
    &.bg-800, .bg-800   { background-color: $info-800; }
  }

  .text-info {
    &.s-100             { color: $info-100 !important; }
    &.s-200             { color: $info-200 !important; }
    &.s-300             { color: $info-300 !important; }
    &, .s-400           { color: $info-400; }
    &.s-500             { color: $info-500 !important; }
    &.s-600             { color: $info-600 !important; }
    &.s-700             { color: $info-700 !important; }
    &.s-800             { color: $info-800 !important; }
  }


/*  Warning
  -------------------------------------------------------- */
  .bg-warning {
    @extend .text-white;
    &.bg-100, .bg-100   { background-color: $warning-100; }
    &.bg-200, .bg-200   { background-color: $warning-200; }
    &.bg-300, .bg-300   { background-color: $warning-300; }
    &,        .bg-400   { background-color: $warning-400; }
    &.bg-500, .bg-500   { background-color: $warning-500; }
    &.bg-600, .bg-600   { background-color: $warning-600; }
    &.bg-700, .bg-700   { background-color: $warning-700; }
    &.bg-800, .bg-800   { background-color: $warning-800; }
  }

  .text-warning {
    &.s-100             { color: $warning-100 !important; }
    &.s-200             { color: $warning-200 !important; }
    &.s-300             { color: $warning-300 !important; }
    &, .s-400           { color: $warning-400; }
    &.s-500             { color: $warning-500 !important; }
    &.s-600             { color: $warning-600 !important; }
    &.s-700             { color: $warning-700 !important; }
    &.s-800             { color: $warning-800 !important; }
  }


/*  Danger
  -------------------------------------------------------- */
  .bg-danger {
    @extend .text-white;
    &.bg-100, .bg-100   { background-color: $danger-100; }
    &.bg-200, .bg-200   { background-color: $danger-200; }
    &.bg-300, .bg-300   { background-color: $danger-300; }
    &,        .bg-400   { background-color: $danger-400; }
    &.bg-500, .bg-500   { background-color: $danger-500; }
    &.bg-600, .bg-600   { background-color: $danger-600; }
    &.bg-700, .bg-700   { background-color: $danger-700; }
    &.bg-800, .bg-800   { background-color: $danger-800; }
  }

  .text-danger {
    &.s-100             { color: $danger-100 !important; }
    &.s-200             { color: $danger-200 !important; }
    &.s-300             { color: $danger-300 !important; }
    &, .s-400           { color: $danger-400; }
    &.s-500             { color: $danger-500 !important; }
    &.s-600             { color: $danger-600 !important; }
    &.s-700             { color: $danger-700 !important; }
    &.s-800             { color: $danger-800 !important; }
  }


/*  Inverse
  -------------------------------------------------------- */
  .bg-inverse {
    @extend .text-white;
    &.bg-100, .bg-100   { background-color: $inverse-100; }
    &.bg-200, .bg-200   { background-color: $inverse-200; }
    &.bg-300, .bg-300   { background-color: $inverse-300; }
    &,        .bg-400   { background-color: $inverse-400; }
    &.bg-500, .bg-500   { background-color: $inverse-500; }
    &.bg-600, .bg-600   { background-color: $inverse-600; }
    &.bg-700, .bg-700   { background-color: $inverse-700; }
    &.bg-800, .bg-800   { background-color: $inverse-800; }
  }

  .text-inverse {
    &.s-100             { color: $inverse-100 !important; }
    &.s-200             { color: $inverse-200 !important; }
    &.s-300             { color: $inverse-300 !important; }
    &, .s-400           { color: $inverse-400; }
    &.s-500             { color: $inverse-500 !important; }
    &.s-600             { color: $inverse-600 !important; }
    &.s-700             { color: $inverse-700 !important; }
    &.s-800             { color: $inverse-800 !important; }
  }


/* Others
  -------------------------------------------------------- */
  .bg-white             { background-color: $white; }
  .bg-transparent       { background-color: transparent; }
  .text-white           { color: $white; }

  .bg-gray-100          { background-color: $gray-100; }
  .bg-gray-200          { background-color: $gray-200; }
  .bg-gray-300          { background-color: $gray-300; }
  .bg-gray-400          { background-color: $gray-400; }
  .bg-gray-500          { background-color: $gray-500; }
  .bg-gray-600          { background-color: $gray-600; }
  .bg-gray-700          { background-color: $gray-700; }
  .bg-gray-800          { background-color: $gray-800; }

  .text-gray-100        { color: $gray-100; }
  .text-gray-200        { color: $gray-200; }
  .text-gray-300        { color: $gray-300; }
  .text-gray-400        { color: $gray-400; }
  .text-gray-500        { color: $gray-500; }
  .text-gray-600        { color: $gray-600; }
  .text-gray-700        { color: $gray-700; }
  .text-gray-800        { color: $gray-800; }

  .bg-gray-dark-100     { background-color: $gray-dark-100; }
  .bg-gray-dark-200     { background-color: $gray-dark-200; }
  .bg-gray-dark-300     { background-color: $gray-dark-300; }
  .bg-gray-dark-400     { background-color: $gray-dark-400; }
  .bg-gray-dark-500     { background-color: $gray-dark-500; }
  .bg-gray-dark-600     { background-color: $gray-dark-600; }
  .bg-gray-dark-700     { background-color: $gray-dark-700; }
  .bg-gray-dark-800     { background-color: $gray-dark-800; }

  .text-gray-dark-100   { color: $gray-dark-100; }
  .text-gray-dark-200   { color: $gray-dark-200; }
  .text-gray-dark-300   { color: $gray-dark-300; }
  .text-gray-dark-400   { color: $gray-dark-400; }
  .text-gray-dark-500   { color: $gray-dark-500; }
  .text-gray-dark-600   { color: $gray-dark-600; }
  .text-gray-dark-700   { color: $gray-dark-700; }
  .text-gray-dark-800   { color: $gray-dark-800; }