// use of keyframes mixin
@include keyframes(fade-in) {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 50%;
  }
  100% {
   	opacity: 100%;
  }
}

.fade-in {
	    margin-top: 25px;
	    font-size: 21px;
	    text-align: center;

	    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
	       -moz-animation: fadein 2s; /* Firefox < 16 */
	        -ms-animation: fadein 2s; /* Internet Explorer */
	         -o-animation: fadein 2s; /* Opera < 12.1 */
	            animation: fadein 2s;
}


.wrapper-error {
	@extend .fade-in;

	position: relative;

	.absolute-center {
		position: absolute;
		display: block;
		margin: auto;
	    max-width: 300px;
	    max-height: 330px;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
	}

	h1 {
		span, 
		strong {
			display: block;
		}

		.display-1 {
			font-weight: 500;
		}

		.display-4 {
			text-transform: uppercase;
			font-size: 1.25rem;
			letter-spacing: 0.1875rem;
		}

		margin-bottom: 4rem;
	}

	.btn {
		text-transform: uppercase;
	    font-weight: 300;
	    font-size: 1rem;
	}

	.text-muted.small {
		font-weight: 300;
		font-size:  0.875rem;
	}
}