$input-lg: 1.2rem 1.25rem 1.0rem 1.25rem;

form {
	// Default sizing
	//
	input,
	textarea,
	// .wrapper-select .form-control,
	select.form-control.custom-select:not([size]):not([multiple]) {
		padding: $input-lg;
	}

	//
	// Styling
	//

		// Form Inline
		//
		&.form-inline {
			.form-group:not(:last-child) {
				@extend .mr-3;
			}
		}


		// Form Outline
		//
		&.outline {
			@extend .bg-transparent;

			.wrapper-select .form-control,
			select.form-control.custom-select:not([size]):not([multiple]) {
				@extend .bg-transparent;
				color: #FFFFFF;
				border-color: $white;
			}

			.wrapper-select {
				position: relative;
			}

			// hack to style select
	    select.form-control.custom-select:not([size]):not([multiple]) {
	    	height: calc(3.5rem + 2px);
	    }
		}




		// Default
		//
		&:not(.outline) {
			// .select {
			// 	.wrapper-select {
			// 		position: relative;

			// 		select {
			// 			position: relative;
			// 			z-index: 2;
			// 			min-width: 130px;

			// 			&,
			// 			&:hover,
			// 			&:focus,
			// 			&.active {
			// 				background: transparent;
			// 			}
			// 		}

			// 		&::after {
			// 			font: normal normal normal 14px/1 FontAwesome;
			// 			content: "\f107";
			// 			display: block;
			// 			font-size: 12px;
			// 			width: 10px;
			// 			height: 10px;
			// 			position: absolute;
			// 			margin: auto;
			// 			bottom: 0;
			// 			top: 0;
			// 			right: 15px;
			// 			z-index: 5;
			// 		}
			// 	}
			// }


			// Defaults components
			input,
			textarea,
			.wrapper-select .form-control,
			select.form-control.custom-select:not([size]):not([multiple]) {
				border: 1px solid $gray;
				border-radius: 0;
				background-color: $white;

				&:hover {
					border-color: $gray-800;
				}

				&:focus {
					border-color: $gray-dark;
				}
			}

		 	select.form-control:not([size]):not([multiple]) {
				height: auto !important;
			}
		}


	// Default
	.form-group {



		// select {
		// 	position: relative;
		// 	border-radius: 0;
		// 	-webkit-appearance: none;
		//   -moz-appearance: none;
		// }


		// placeholders
		input,
		textarea,
		select {
			&::-webkit-input-placeholder {
        color: $gray;
      }

      &::-moz-placeholder {
        color: $gray;
      }

      &:-ms-input-placeholder {
        color: $gray;
      }

      &:-moz-placeholder {
        color: $gray;
      }
		}

		// hack to style input-group
		.input-group {

			.input-group-addon {
				min-width: 60px;
				display: block;
				position: absolute;
				top: 50%;
				margin-top: -1rem;
				border-radius: 0;
				color: #cccccc;
				z-index: 5;

				@extend .no-bbb;

				i {
					font-size: 1.15em;
					color: #B1B1B1;
				}

				+ input {
					position: relative;
					padding-left: 60px;
				}
			}

			input + .input-group-addon {
				right: 0px;
			}

			.input-group-btn {
				.btn {
					margin: 0 !important;
				}
			}
		}

	}

	.form-check-sm {
		label {
			font-size: 80%;

			input {
				@extend .mr-1;
			}
		}
	}

	.btn-submit {
		margin-bottom: 1.5rem;
		padding-left: 1.8rem;
    padding-right: 1.8rem;

    @include media-breakpoint-down(sm) {
    	width: 100%;
    }

    @include media-breakpoint-up(md) {
    	float: right;
    	margin-bottom: 3rem;
    }
	}
}




// 	.wrapper form .input-group input +  .input-group-addon,
// 	.modal form .input-group input + .input-group-addon {
// 		left: initial;
// 		right: 30px;
// 	}

// 	.wrapper form .input-group input.form-control,
// 	.modal form .input-group input.form-control {
// 		padding-left: 36px;
// 	}









// .login.sign-in form .input-group .input-group-addon {
// 		top: 23px;
// 		left: 18px;
// 	}

// .login.sign-in form .input-group input.form-control {
// 	height: 60px;
// 	padding: 6px 15px 6px 45px;
// 	border-color: rgba(0,0,0,0.15);
// 	font-size: 16px;
// }

// .login.sign-in form .input-group input.form-control:hover {
// 	border-color: rgba(0,0,0,0.30);
// }

// .login.sign-in form .input-group input.form-control:focus {
// 	border-color: rgba(0,0,0,0.45);
// }


.form-control {

	// Sizing
	//
	&.form-lg {
		padding: $input-lg;
	}

	// Styling
	//
	&.square {
		@extend .no-border-radius;
	}

	&.rounded {
		border-radius: 1.25rem;
	}

	&.minimalist {
		border-radius: 0;
		border: none;
		border-bottom: 1px solid;
		padding: 0.5rem 0;
		color: #c5c5c5;
	    font-size: 1rem;
	    font-weight: 300;
	}
}


.radio,
.checkbox {
	// Common

	position: relative;
	overflow: auto;
	float: left;
	margin-bottom: 15px;

	&:hover {
	    border: 1px solid  #262626;
	    color: #262626;
	    overflow: auto;
	    float: left;

	    span {
			&::before {
				border:1px solid  #262626;
			}
		}
	}

	label {
	    float: left;
	    margin-bottom: 0;

	    span {
			text-align: center;
			padding: 3px 0px;
			display: block;
			position: relative;
			z-index: 1;

			&::before {
				content: '';
				position: absolute;
				display: inline-block;
				left: 0;
				border: 1px solid #b1b1b1;
			}
		}

		input {
			cursor: pointer;
			position: absolute;
			top: 0;
			right: 0;
			opacity: 0;
			width: 100%;
			height: 100%;
			z-index: 2;
		}
	}
}

// Radio Only

.radio {
	border: none;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;

	label {
		span {
			text-align: left;
			padding-left: 21px;
			text-transform: initial;

			&::before {
				border-radius: 50%;
				width: 12px;
				height: 12px;
				top: 5px;
			}
		}
	}

	input:checked {
		& + span {
			&::before {
				border-width: 4px;
				border-color: #262626;
			}
		}
	}

	&:hover {
		border: none;
	}
}

// Checkbox Only

.checkbox {
	label {
		span {
			padding-left: 25px;

			&::before {
				border-radius: 4px;
				width: 15px;
  				height: 15px;
  				top: 3px;
			}
		}
	}

	input:checked {
		& + span {
			&::before {
				border-width: 1px;
				border-color: #262626;
				background: #262626;
			}

			&::after {
				font: normal normal normal 14px/1 FontAwesome;
				content: "\f00c";
				color: #FFFFFF;
				position: absolute;
				top: 5px;
				left: 2px;
				font-size: 11px;
			}
		}
	}
}

