//  Breakpoints
//
// Responsive font-size
//

	@include media-breakpoint-only(xs) {
	  html {
	    font-size: 12px;
	  }
	}

	@include media-breakpoint-only(sm) {
	  html {
	    font-size: 13px;
	  }
	}

	@include media-breakpoint-only(md) {
	  html {
	    font-size: 14px;
	  }
	}

	@include media-breakpoint-only(lg) {
	  html {
	    font-size: 15px;
	  }
	}

	@include media-breakpoint-only(lg) {
	  html {
	    font-size: 16px;
	  }
	}


// Main Elements
//

	html,
	body,
	.wrapper {
		height: 100%;
	}

	body {
		background-color: $body-bg;
		color: $body-color;
		font-family: $font-family-base;
	}

	button, input, optgroup, select, textarea {
		font-family: $font-family-base;
	}

	a,
	button {
		@include transition;
		color: $gray-400;
		text-decoration: none;

		&:hover,
		&:focus,
		&:active {
			color: $black;
			text-decoration: none;
		}

		> * {
			@include transition;
		}
	}

	a,
	button {
		&:focus,
		&.focus {
			outline: -webkit-focus-ring-color auto 3px;
		}
	}

	button {
		border: none;
		background-color: transparent;
		cursor: pointer;
	}

	ul {
		padding-left: 0;

		li {
			list-style: none;
		}
	}

	textarea {
			resize: none;
	}

// Icons Sizing
//

	.icon-lg { font-size: $icon-lg; }
	.icon-2x { font-size: $icon-2x; }
	.icon-3x { font-size: $icon-3x; }
	.icon-4x { font-size: $icon-4x; }
	.icon-5x { font-size: $icon-5x; }

// Layouts Structure
//

	.wrapper {

		// Layout with navbar
		.layout-navbar {

			// main contents after navbar
			.wrapper-main {
				padding-top: $navbar-height;
			}
		}

		// Layout Fluid
		.layout-fluid {

			// checar porque fiz isso
			// .navbar-collapse {
			// 	left: 0;
			// }
		}

		// Layout with sidebar
		.layout-sidebar {

  		// Sidebar structure
			.sidebar {
			  height: 100%;
				max-height: 100%;
				position: fixed;
			  top: 0;
			  bottom: 0;
			  z-index: 1500;

				// size breakpoint
			  @include media-breakpoint-down(sm) {
			    width: 100%;
			  }

				// size regular
			  @include media-breakpoint-up(md) {
			    width: 270px;
			  }
			}

			// Left sidebar
			&.layout-ltr {

				// regular position
				@include media-breakpoint-up(lg) {
					.wrapper-main {
						padding-left: 300px;
						padding-right: 15px;
					}
				}

				// sidebar breakpoint animation on open and close
				.sidebar {
					left: 0;
					@include transition(all ease-in-out 0.3s);

					// hide on breakpoint
				  @include media-breakpoint-down(md) {
				    left: -100%;
				  }

					// hide on collapse
				  &.collapse {
				  	@include media-breakpoint-down(md) {
				  		left: -100%;
				  	}

						// ignore collapse after breakpoint
				  	@include media-breakpoint-up(lg) {
				  		display: block !important;
				  	}
				  }

					// display
				  &.show {
				  	left: 0px;
				  }
				}
			}

			// Right sidebar
			&.layout-rtl {

				// regular position
				@include media-breakpoint-up(lg) {
					.wrapper-main {
						padding-right: 300px;
						padding-left: 15px;
					}
				}

				// sidebar breakpoint animation on open and close
				.sidebar {
					right: 0;
					@include transition(all ease-in-out 0.3s);

					// hide on breakpoint
				  @include media-breakpoint-down(md) {
				    right: -100%;
				  }

					// hide on collapse
				  &.collapse {
				  	@include media-breakpoint-down(md) {
				  		right: -100%;
				  	}

						// ignore collapse after breakpoint
				  	@include media-breakpoint-up(lg) {
				  		display: block !important;
				  	}
				  }

					// display
				  &.show {
				  	right: 0px;
				  }
				}
			}

			// Sidebar with navbar
			&.layout-navbar {

				// common adjusts
				nav.navbar {

					// to paddings works on .navbar-nav
					@include media-breakpoint-up(lg) {
						.navbar-brand {
							position: absolute;
						}
			    }
  			}

  			// Left sidebar with navbar
  			&.layout-ltr {
  				nav.navbar {

  					// adjust position after sidebar
  					@include media-breakpoint-up(lg) {
							.navbar-nav:first-child {
								padding-left: 300px;
							}
				    }
	  			}
  			}

  			// Left sidebar with navbar
  			&.layout-rtl {
  				nav.navbar {

						// adjust position before sidebar
  					@include media-breakpoint-up(lg) {
							.navbar-nav:first-child {
								padding-right: 300px;
							}
				    }
	  			}
  			}
  		}

			// ux improvements
			// set a horizontal limit
			.wrapper-main {
				max-width: 1860px;
				@extend .mx-auto;
		  }

		  // ux improvements
		  // rewrite some definitions
  		@media (min-width: 2430px) {
				.wrapper-main {
  				padding-left: 0 !important;
  				padding-right: 0 !important;
  			}
	  	}
		}
	}




// Layouts wrappers details
//

	div[class^="layout-"] {
		position: relative;

		.wrapper-main {

			// Heading
			.wrapper-heading {
				//display: none;
			}

			// Content
			.wrapper-content {
				position: relative;
				margin-top: 45px;
				margin-bottom: 30px;
				z-index: 0;

				// page header
				.page-header {
					padding: 1.5rem 0;
					display: block;

					// centraliza em mobile
					@include media-breakpoint-down(md) {
						text-align: center;
					}

					p:not(.lead),
					span {
							font-size: 1rem;
							font-weight: 300;
					}

					// garante que alinhará somente a última coluna
					.row > div + div:last-child {

						// centraliza em mobile
						@include media-breakpoint-down(md) {
							text-align: center;

							.btn-group,
							.btn {
								display: block;
								+ .dropdown-menu {
									width: 100%;
								}
							}
						}

						// alinha a direita no desktop
						@include media-breakpoint-up(md) {
							text-align: right;

							.dropdown-menu {
								right: 0;
    						left: auto;
							}
						}
					}
				}
			}
		}

		footer {
			padding-top: 0.6rem;
		}
	}



// Others
//

	.background-line {
		display: table;
		margin: 0 auto;
		text-align: center;
		white-space: nowrap;

		&:before,
		&:after {
			border-top: 1px solid rgba(0,0,0,0.15);
			content: '';
			display: table-cell;
			position: relative;
			top: 0.8em;
			width: 50%;
		}

		span {
			display: table-cell;
			padding: 0 21px;
		}
	}





	// heading - backup beebee

  // .wrapper-main .wrapper-heading {
  //   height: 45px;
  //   position: fixed;
  //   left: 0;
  //   right: 0;
  //   background-color: #ffffff;
  //   text-align: left;
  //   z-index: 1;
  // }

  // @media (max-width: 767px) {
  //   .wrapper-main .wrapper-heading {
  //     display: none;
  //   }
  // }

  // @media (min-width: 768px) {
  //   .wrapper-main .wrapper-heading + .wrapper-content,
  //   .wrapper-main .wrapper-heading ~ * .wrapper-content,
  //   .wrapper-main .wrapper-content.fix-heading {
  //     padding-top: 45px;
  //   }
  // }

  // @media (max-width: 991px) {
  //   .wrapper-main .wrapper-heading {
  //     top: 50px;
  //     border-top: 1px solid #e7e7e7;
  //   }
  // }

  // @media (min-width: 992px) {
  //   .wrapper-main .wrapper-heading {
  //     top: 59px;
  //   }
  // }
