// Bootstrap defaults
//

  // Breakpoints
  @import 'bootstrap/breakpoints';

  // Box Shadow
  @mixin box-shadow($shadow...) {
    @if $enable-shadows {
      box-shadow: $shadow;
    }
  }

  // Transition
  @mixin transition($transition...) {
    @if length($transition) == 0 {
           -o-transition: $transition-base;
         -moz-transition: $transition-base;
      -webkit-transition: $transition-base;
              transition: $transition-base;
    } @else {
           -o-transition: $transition;
         -moz-transition: $transition;
      -webkit-transition: $transition;
              transition: $transition;
    }
  }


// Carbon Theme
//

  //  Keyframes
  @mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
      @content;
    }
    @-moz-keyframes #{$name} {
      @content;
    }
    @-ms-keyframes #{$name} {
      @content;
    }
    @keyframes #{$name} {
      @content;
    }
  }



  @import 'mixins/border-radius';
  @import 'mixins/buttons';
  @import 'mixins/hover';


  // Utilities
  //
    @import 'utilities/display';
    @import 'utilities/flex';
    @import 'utilities/sizing';
    @import 'utilities/spacing';
    @import 'utilities/text';