// navbar
//
  nav.navbar {
    // definitions
    @include transition(background-color .3s ease-in-out);

    // adjustments > default navbar
    // adjustments > under collapsed effects (navbar.js)
    &.bg-faded:not(.navbar-collapsed) {
      background-color: rgba(255,255,255,0.95);
      .navbar-brand {
        img.white {
          display: none;
        }
      }
    }

    // adjustments > transparent navbar
    &.bg-transparent,
    &.navbar-collapsed {
      @extend .bg-transparent;
      .navbar-brand {
        img.default {
          display: none;
        }
      }

      .navbar-nav {

        // li
        .nav-item {
          // li a
          .nav-link {
            color: rgba(255,255,255,0.75);

            &:active,
            &:active,
            &.active,
            &:hover,
            &.hover,
            &:focus,
            &.focus {
              color: $white;
            }
          }
        }
      }
    }

    // toggler
    .navbar-toggler {
      border: none;
      &:active,
      &.active,
      &:focus,
      &.focus {
        outline: 0;
      }

      @include media-breakpoint-down(lg) {
        margin-top: 3px;
      }
    }

    // brand
    .navbar-brand {
      @include media-breakpoint-down(md) {
        max-width: 50%;
        margin: 0 auto;
        text-align: center;
      }
      .brand {
        max-height: $brand-height;
      }
    }

    // navigation
    .navbar-nav {

      .nav-item {
        @extend .px-3;
        font-size: 15px;
        line-height: 24px;
        @include media-breakpoint-up(md) {
          position: relative;

          &:active,
          &:active,
          &.active,
          &:hover,
          &.hover,
          &:focus,
          &.focus {
            color: $white;

            // top decoration
            // &::before {
            //   content: '';
            //   width: 100%;
            //   height: 2px;
            //   position: absolute;
            //   top: calc(21px - #{$navbar-height}/2); // custom formula
            //   left: 0;
            //   right: 0;
            //   display: block;
            //   background-color: $gray-dark-400;
            // }
          }
        }

        .nav-link {
          // simplificando e padronizando altura
          padding-top: 9px;
          padding-bottom: 9px;
          line-height: 24px;
          i {
            margin-right: 0.3rem;
          }
        }
      }

      .nav-profile {
        .nav-link {
          @extend .ml-3;
          // simplificando e padronizando altura
          padding-top: 3px;
          padding-bottom: 0;
          img {
            border-radius: 50%;
            max-height: calc(#{$brand-height} + 3px);
          }
        }
      }
    }

    // dropdown
    .dropdown {

      // limpa outline
      &.show {
        a,
        button {
          &.active,
          &:active,
          &:focus,
          &.focus {
            outline: 0;
          }
        }
      }

      // btn toogle
      .nav-link {
        &::after {
          display: none;
        }
      }

      // dropdown-menu
      // dentro do breakpoint (mobile)

      // fora do breakpoint (desktop)
      @include media-breakpoint-up(md) {
        .dropdown-menu {
          top: calc(#{$navbar-height}/2 + 19px); // custom formula
          border: 1px solid #eee;
          border-radius: 0px;
          box-shadow: 0 2px 8px rgba(0,1,1,.05);

          .dropdown-header,
          .dropdown-item {
            padding: 0.45rem 1.8rem;
            i {
              margin-right: 6px;
              font-size: 90%;
            }
          }

          .dropdown-header {
              margin-top: 0.75rem;
              margin-bottom: 0.3rem;
              font-weight: 700;
              font-size: 0.72rem;
              color: $gray-dark-500;
              text-transform: uppercase;
            }

          .dropdown-item {
            font-size: 14px;
            color: #979898;

            &:hover,
            &:focus,
            &:active,
            &.active {
              background-color: $white;
              color: $gray-dark-400;
            }
          }
        }
      }
    }
  }


// dropdown mega
//
  .dropdown.mega {
    .dropdown-menu {
      min-width: 30rem;

      .col {
        padding: 0;
      }

      .col:not(:first-of-type) {
        border-left: 1px dashed #eee;
      }
    }
  }


// navbar & sidebar
//
  nav.navbar,
  .sidebar .sidebar-header {
    @include media-breakpoint-down(md) {
      height: 50px;
    }

    @include media-breakpoint-up(md) {
      min-height: $navbar-height;
    }

    .navbar-toggler {
      max-height: $brand-height;

      &.close {
        top: 9px;
        opacity: 0.9;
        text-shadow: none;

        span {
          max-height: 30px;
          padding: 0 1rem;
          font-size: 2.4rem;
          color: $gray-dark;
          text-shadow: none;
        }
      }
    }

    @include media-breakpoint-down(sm) {
      > .navbar-toggler {
        &.navbar-toggler-left.collapsed {
          display: block;
        }

        &.navbar-toggler-left:not(.collapsed) {
          display: none;
        }
      }

      ul.navbar-nav {
        ul.nav {
          display: block !important;
          li {
            margin: 0 auto !important;
            font-size: 1.35rem !important;
            a {
              padding-top: 3px !important;
              padding-bottom: 3px !important;
            }
          }
        }
      }
    }

    @include media-breakpoint-up(md) {
      > .navbar-toggler {
        display: none;
      }
    }


  }


// adjustments > under collapsed effects (navbar.js)
// collapsing like app

  nav.navbar-collapsed {
    .navbar-toggler:not(.close) {
      display: none;
    }
  }

  .navbar-collapse {
    @include media-breakpoint-down(sm) {
      &.collapse {
        top: -240%;
      }

      &.collapsing {
        top: -100%;
      }

      &.collapse,
      &.collapsing {
        width: 100%;
        height: 100%;
        display: block;
        position:fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #fff; 
        @include transition(all ease 0.15s);
        z-index: -1;

        &.show {
          top: 0;
          display: block;
        }

        .navbar-nav {
          margin-top: 7.5rem;

          .nav-item,
          .nav-profile {
            margin: 0;
            padding: 0 !important;
            font-size: 1.5rem;
            text-align: left;
            line-height: 1.2 !important;

            a,
            button {
              padding: 6px 2.4rem !important;
              line-height: 1.2 !important;
            }

            &.active {
              a, button {
                color: $brand-primary !important;
              }
            }

            &.nav-profile {
              text-transform: lowercase;

              .nav-link {
                display: none;
              }

              .dropdown-menu {
                display: block;
                padding: 0 !important;
                margin: 0 !important;

                .dropdown-divider {
                  display: none;
                }
              }
            }

            .nav-link {
              margin: 0 !important;
              text-align: left;
              color: $gray-700 !important;

              &:hover {
                color: $gray-dark;
              }

              &.active {
                color: $brand-primary !important;
              }
            }

            .dropdown-menu {
              margin: 0;
              border: none;
              background-color: transparent;
              text-align: left;

              .dropdown-item {
                margin: 0 left;
                font-size: 1.5rem;

                &,
                &:active,
                &:active,
                &.active,
                &:hover,
                &.hover,
                &:focus,
                &.focus {
                  padding: 0;
                  text-transform: lowercase;
                  background-color: transparent;
                  color: $gray-700;
                }

                > a,
                > button {
                  display: block !important;
                  padding: 6px 2.4rem !important;
                  text-transform: lowercase;
                  background-color: transparent;
                  color: $gray-700;
                }
              }
            }
          }
        }
      }
    }
  }

  .overflow {
    overflow: hidden;
  }


// sidebar
//
  .sidebar {
    background-color: $gray-400;

    .sidebar-header {
      background-color: $gray-100;

      @include media-breakpoint-down(lg) {
        padding-top: 12px; // controla altura para ficar na altura dos itens da navbar
      }

      @include media-breakpoint-up(lg) {
        padding-top: calc(#{$navbar-height}/2 - #{$brand-height}/2);  // controla altura para ficar na altura dos itens da navbar
      }

      .sidebar-brand {
        .brand {
          max-height: $brand-height;
          margin-left: 30px;
        }
      }
    }

    .sidebar-menu {
      h6 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;
        margin-bottom: 12px;
        padding: 30px 21px 0;
      }
    }

    // .card {
    //   border: none;

    //   &:last-of-type .card-header{
    //     border-bottom: none;
    //   }

    //   .card-header {
    //     border-left-width: 3px;
    //     border-left-style: solid;
    //     border-color: transparent;
    //     border-radius: 0px;

    //     a {
    //       @extend .nav-link;
    //       display: block;

    //       i {
    //         margin-right: 0.5625rem;
    //         font-size: 0.8125rem;
    //       }
    //     }
    //   }
    // }
  }


//  Colors
//
  // .dark-sidebar {
  //   &,
  //   .card-block,
  //   .card-header {
  //     @extend .bg-inverse;
  //     a {
  //       color: $gray-500;
  //     }
  //   }

  //   .card > .card-header {
  //     &:hover,
  //     &.active {
  //       background-color:   $inverse-500;
  //     }

  //     &.active  {
  //       border-left-color: $gray-300;
  //       a {
  //         color: $gray-100;
  //       }
  //     }
  //   }

  //   .collapse.show,
  //   & .open {
  //     background-color: $inverse-600;
  //     border-left-color: $gray-300;
  //   }
  // }



// /*  Navmenu Header & Sidebar
//   ==========================================================================
//   ========================================================================== */

//   .sidebar-menu {
//     bottom: 0;
//     background-color: #2f2d2d;
//     color: #DBDBDB;
//     overflow-x: hidden;
//     overflow-y: auto;
//     z-index: 1000;
//   }

//   @media (max-width: 767px) {
//     .sidebar-menu {
//       padding: 50px 0 0 0;
//     }
//   }

//   @media (min-width: 768px) {
//     .sidebar-menu {
//       padding: 60px 0 0 0;
//     }
//   }

//   .sidebar-menu div.wrapper-sidebar-menu {
//     min-height: 100%;
//     position: relative;
//     padding-bottom: 210px;
//   }

//   .sidebar-header {
//     background-color: #333333;
//     z-index: 1009;
//   }

//   .sidebar-header .sidebar-brand {
//     margin-left: 18px;
//     margin-right: 0;
//     display: block;
//   }

//   .sidebar-header button {
//     margin-top: 6px;
//     margin-bottom: 6px;
//     border: none;
//     color: rgba(255,255,255,0.75);
//   }

//   .sidebar-header button:hover,
//   .sidebar-header button:focus,
//   .sidebar-header button:active {
//     background-color: transparent;
//     color: rgba(255,255,255,1);
//   }

//   @media (max-width: 991px) {
//     .sidebar-header {
//       height: 51px;
//       padding-top: 3px;
//     }

//     .sidebar-header .sidebar-brand {
//       padding: 6px;
//     }

//     .sidebar-header .sidebar-brand>img {
//       max-width: 240px;
//       max-height: 36px;
//     }
//   }

//   @media (min-width: 992px) {
//     .sidebar-header {
//       height: 60px;
//     }

//     .sidebar-header .sidebar-brand {
//       padding: 0px 12px;
//       line-height: 60px;
//     }

//     .sidebar-header .sidebar-brand>img {
//       max-width: 195px;
//       max-height: 42px;
//     }
//   }

//   /* Navmenu Sidebar > sidebar-quickview
//   ————————————————————————————————————————————————————————————————————————— */

//   .sidebar-menu .sidebar-quickview {
//     padding: 42px 18px 30px 30px;
//     background-color: rgba(0,0,0,0.05);
//   }

//   @media (max-width: 767px) {
//     .sidebar-menu .sidebar-quickview {
//       padding: 18px 18px 18px 30px;
//     }
//   }

//   @media (min-width: 768px) {
//     .sidebar-menu .sidebar-quickview {
//       padding: 30px 18px 21px 36px;
//     }
//   }

//   .sidebar-menu .sidebar-quickview i {
//     position: relative;
//     top: 1px;
//     float: left;
//   }

//   .sidebar-menu .sidebar-quickview h2,
//   .sidebar-menu .sidebar-quickview p {
//     padding-left: 24px;
//     margin: 3px 0;
//   }

//   .sidebar-menu .sidebar-quickview h2 {
//     font-size: 13px;
//     font-weight: 400;
//   }

//   .sidebar-menu .sidebar-quickview p {
//     font-size: 12px;
//     font-weight: 300;
//     text-transform: uppercase;
//     white-space: nowrap;
//   }

//   .sidebar-menu .sidebar-quickview p small {
//     font-size: 90%;
//   }

//   .sidebar-menu .sidebar-quickview a {
//     color: rgba(255,255,255,0.75);
//   }

//   .sidebar-menu .sidebar-quickview a:hover>h2,
//   .sidebar-menu .sidebar-quickview a:hover>p {
//     color: #ffffff;
//   }

//   .sidebar-menu .sidebar-quickview a>h2,
//   .sidebar-menu .sidebar-quickview a>p {
//        -o-transition-property: all;
//        -moz-transition-property: all;
//     -webkit-transition-property: all;
//         transition-property: all;
//        -o-transition-timing-function: ease-in-out;
//        -moz-transition-timing-function: ease-in-out;
//     -webkit-transition-timing-function: ease-in-out;
//         transition-timing-function: ease-in-out;
//        -o-transition-duration: .45s;
//        -moz-transition-duration: .45s;
//     -webkit-transition-duration: .45s;
//         transition-duration: .45s;
//   }


//   // NO BOOTSTRAP 3 O MENU FOI FEITO COM UL E LI!
//   /* Navmenu Sidebar > Sidebar
//   ————————————————————————————————————————————————————————————————————————— */

//   .sidebar-menu ul.sidebar-nav {
//     margin-top: 24px;
//     padding-bottom: 24px;
//     font-size: 16px;
//   }

//   .sidebar-menu ul.sidebar-nav li {
//     border-left-width: 3px;
//     border-left-style: solid;
//     border-left-color: transparent;
//     padding-left: 30px;
//     padding-right: 18px;
//   }

//   .sidebar-menu ul.sidebar-nav>li:hover {
//     background-color: rgba(0,0,0,0.1);
//   }

//   .sidebar-menu ul.sidebar-nav>li.active,
//   .sidebar-menu ul.sidebar-nav.nav li.open {
//     background-color: rgba(0,0,0,0.1);
//     border-left-color: #f9f9f9;
//   }

//   .sidebar-menu ul.sidebar-nav li i {
//     margin-right: 9px;
//     font-size: 13px;
//   }

//   .sidebar-menu ul.sidebar-nav li a {
//     display: block;
//     padding: 15px 3px;
//   }

//   .sidebar-menu ul.sidebar-nav li a,
//   .sidebar-menu ul.sidebar-nav li a i,
//   .sidebar-menu ul.sidebar-nav li span,
//   .sidebar-menu ul.sidebar-nav li span i {
//     color: rgba(255,255,255,0.75);
//   }

//   .sidebar-menu ul.sidebar-nav>li:last-child a {
//     border-bottom: none;
//   }

//   .sidebar-menu ul.sidebar-nav .active a,
//   .sidebar-menu ul.sidebar-nav a:hover,
//   .sidebar-menu ul.sidebar-nav a:focus {
//     background-color: transparent;
//   }

//   .sidebar-menu ul.sidebar-nav li a.dropdown-toggle:after {
//     font-family: FontAwesome;
//     content: "\f107";
//     position: absolute;
//     right: 12px;
//     top: 15px;
//     font-size: 18px;
//   }

//   .sidebar-menu ul.sidebar-nav.nav li.open>a,
//   .sidebar-menu ul.sidebar-nav.nav li.open>a:focus,
//   .sidebar-menu ul.sidebar-nav.nav li.open>a:hover {
//     background-color: transparent;
//   }

//   .sidebar-menu ul.sidebar-nav.nav li.open ul.dropdown-menu,
//   .sidebar-menu ul.sidebar-nav.nav li.active ul.dropdown-menu {
//     position: relative;
//     top: 0;
//     left: 0;
//     float: none;
//     margin: 0;
//     padding: 0 0 18px 0;
//     border: none;
//     background-color: transparent;
//     z-index: 1001;
//     -webkit-box-shadow: none;
//         box-shadow: none;
//   }

//   .sidebar-menu ul.sidebar-nav.nav li.open ul.dropdown-menu li a,
//   .sidebar-menu ul.sidebar-nav.nav li.active ul.dropdown-menu li a {
//     margin: 1px 0;
//     padding: 6px 3px;
//   }

//   .sidebar-menu ul.sidebar-nav.nav li.active>.dropdown-menu {
//     display: block;
//   }

//   .sidebar-menu ul.sidebar-nav .active a,
//   .sidebar-menu ul.sidebar-nav .active a i,
//   .sidebar-menu ul.sidebar-nav a:hover,
//   .sidebar-menu ul.sidebar-nav a:hover i,
//   .sidebar-menu ul.sidebar-nav .active span,
//   .sidebar-menu ul.sidebar-nav .active span i,
//   .sidebar-menu ul.sidebar-nav.nav .open>a,
//   .sidebar-menu ul.sidebar-nav.nav .open>a:focus,
//   .sidebar-menu ul.sidebar-nav.nav .open>a:hover,
//   .sidebar-menu ul.sidebar-nav.nav .open>a i,
//   .sidebar-menu ul.sidebar-nav.nav .open>a:focus i,
//   .sidebar-menu ul.sidebar-nav.nav .open>a:hover i {
//     color: #ffffff;
//   }

//   .sidebar-menu ul.sidebar-nav li ul li {
//     font-size: 14px;
//     text-transform: none;
//   }

//   .sidebar-menu ul.sidebar-nav li ul li a,
//   .sidebar-menu ul.sidebar-nav li.active ul li a {
//     color: rgba(255,255,255,0.75);
//   }

//   .sidebar-menu ul.sidebar-nav li ul li a:hover,
//   .sidebar-menu ul.sidebar-nav li.active ul li a:hover {
//     color: #ffffff;
//   }

//   .sidebar-menu ul.sidebar-nav li.active ul li.active a {
//     font-weight: 700;
//     color: #ffffff;
//   }

//   .sidebar-menu ul.sidebar-nav > li.active:before {
//     font-family: FontAwesome;
//     content: "\f0d9";
//     position: absolute;
//     right: -3px;
//     top: 0px;
//     font-size: 39px;
//     color: #f9f9f9;
//   }


//   /* Navmenu Sidebar > Footer
//   ————————————————————————————————————————————————————————————————————————— */

//   .sidebar-menu .sidebar-footer {
//     min-width: 225px;
//     margin: 0 18px 0 30px;
//     position: absolute;
//     bottom: 9px;
//     display: block;
//   }


//   /* Navmenu Sidebar > Footer > Mkt Place
//   ————————————————————————————————————————————————————————————————————————— */

//   .sidebar-menu .sidebar-footer .mkt-place {
//     margin-bottom: 45px;
//   }

//   .sidebar-menu .sidebar-footer .mkt-place a img {
//     margin: 3px 0;
//   }

//   .sidebar-menu .sidebar-footer .mkt-place a img {
//     max-width: 150px;
//     max-height: 42px;
//   }


//   /* Navmenu Sidebar > Footer > Social
//   ————————————————————————————————————————————————————————————————————————— */

//   .sidebar-menu .sidebar-footer .social {
//     display: block;
//   }

//   .sidebar-menu .sidebar-footer .social ul.nav-social {
//     padding: 0;
//   }

//   .sidebar-menu .sidebar-footer .social ul.nav-social li {
//     display: inline-block;
//     text-align: left;
//   }

//   .sidebar-menu .sidebar-footer .social ul.nav-social li a i {
//     color: rgba(255,255,255,0.75);
//   }

//   .sidebar-menu .sidebar-footer .social ul.nav-social li a:hover i {
//     color: #ffffff;
//   }

//   @media (max-width: 991px) {
//     .sidebar-menu .sidebar-footer .social {
//       margin: 15px 0;
//     }

//     .sidebar-menu .sidebar-footer .social ul.nav-social li a {
//       margin: 0 1px;
//       padding: 9px;
//     }

//     .sidebar-menu .sidebar-footer .social ul.nav-social li a i {
//       font-size: 18px;
//     }
//   }

//   @media (min-width: 992px) {
//     .sidebar-menu .sidebar-footer .social {
//       float: right;
//       margin-right: 9px;
//     }

//     .sidebar-menu .sidebar-footer .social ul.nav-social li a {
//       margin: 0 1px;
//       padding: 3px;
//     }

//     .sidebar-menu .sidebar-footer .social ul.nav-social li a i {
//       font-size: 15px;
//     }
//   }


//   /* Navmenu Sidebar > Footer > Version
//   ————————————————————————————————————————————————————————————————————————— */

//   .sidebar-menu .sidebar-footer .version p {
//     margin: 0;
//     font-size: 13px;
//     text-transform: uppercase;
//   }

//   .sidebar-menu .sidebar-footer .version p span {
//     text-transform: none;
//   }

//   .sidebar-menu .sidebar-footer .version p,
//   .sidebar-menu .sidebar-footer .version p a {
//     color: rgba(255,255,255,0.75);
//   }

//   .sidebar-menu .sidebar-footer .version p a:hover {
//     color: #ffffff;
//   }
