ul {
	&.timeline {
		padding: 0;
		position: relative;

		.time,
		.tl-icon {
			display: inline-block;
		}

		.tl-icon {
			color: #FFFFFF;
			position: relative;
			text-align: center;
			border-radius: 50%;
			border: 3px solid white;
			
			@media (max-width: 991px) {
				& {
					width: 2.625rem;
					height: 2.625rem;
					font-size: 1.313rem;
					line-height: 2.125rem;
					float: right;
				}
			}
			
			@media (min-width: 992px) {
				& {
					width: 3.25rem;
					height: 3.25rem;
					line-height: 3rem;

					i.fa {
						font-size: 1.375rem;
					}
				}
			}
		}

		.time {
			p {
				font-size: 0.8125rem;

				strong {
					font-size: 16px;
				}

				span {
					color: #999999;
				}
			}

			@media (min-width: 992px) {
				margin-bottom: 0px;
				min-width: 120px;
				padding-right: 0.75rem;
				text-align: right;
			}
		}

		.activity {
			padding: 0.5625rem 0.75rem;

			.lead {
				font-size: 1.125rem;
			}

			@media (max-width: 991px) {
				& {
					position: relative;
					background-color: #FFFFFF;
					margin-bottom: 3rem;
					margin-top: 0.75rem;

					&::before {
						content: '';
						width: 15px;
						height: 15px;
						display: block;
						position: absolute;
						top: -15px;
						left: 25px;
						border-right: 0.5625rem solid transparent;
					    border-left: 0.5625rem solid transparent;
					    border-bottom: 0.5625rem solid #FFFFFF;
					}
				}
			}

			@media (min-width: 992px) {
				&.none {
					color: #999999;
				}

				&:not(.none) {
					background-color: #FFFFFF;

					&::before {
						content: '';
						width: 15px;
						height: 15px;
						display: block;
						position: absolute;
						left: 0;
						border-right: 0.5625rem solid #FFFFFF;
						border-bottom: 0.5625rem solid transparent;
						border-top: 0.5625rem solid transparent;
					}
				}
			}
		}

		@media (min-width: 992px) {
			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 0.75rem;
				bottom: 0;
				right: 0;
				left: 148px;
				background: white;
				width: 6px;
				height: 85%;
			}

			.tl-item {
				padding: 0.75rem 0;
				margin-bottom: 1rem;

				.time {
					min-width: 120px;
					padding-right: 0.75rem;
					text-align: right;

					p {
						margin-bottom: 0px;
						font-size: 0.8125rem;

						strong {
							font-size: 16px;
						}

						span {
							color: #999999;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1199px) {

}


/*
	ul {
		&.timeline {
			

			
		}
	}

*/
