$text-gray: #999999;

.card {
	color: $text-gray;

	&.main-info {
		text-align: center;
		background-color: transparent;
		border: none;

		p {
			font-size: 0.875rem;
		}

		img {
			margin-bottom: 15px;
		}

		.card-block:first-of-type {
			padding-top: 0px;
		}

		.about {
			text-align: left;
			padding: 0;
		    padding-left: 1.688rem;
		    margin: 0 auto;

			ul {
				li {
					padding: 0.1875rem 0;
					position: relative;

					i.fa {
						position: absolute;
						left: -28px;
						bottom: 9px;
					}
				}
			}
		}
	}

	&.post {
		.btn-icon {
			color: $text-gray;

			&:hover, 
			&:active, 
			&:focus {
				color: #6f6f6f;
			}
		}

		p.lead {
			font-size: 14px;

			strong,
			span {
				color: #676767;
			}
		}

		.comments {
			.lead {
				color: #676767;

				small {
					color: $text-gray;
				}
			}
		}

		textarea {
			text-align: left;
			
			/* do not group these rules */
			&::-webkit-input-placeholder 	{ color: $text-gray; }
			&:-moz-placeholder 				{ color: $text-gray; }
			&::-moz-placeholder 			{ color: $text-gray; }
			&:-ms-input-placeholder 		{ color: $text-gray; }

			&:active,
			&:focus {
				border-color: #ACABAE;
			}
		}
	}
}