
// Accordion icon
//
	.accordion-icon {
		width: 0.9375rem;
		height: 0.9375rem;
		position: absolute;
		top: -51px;
		right: 0;
		margin: 1.125rem;
	}

	.accordion-lg.accordion-icon {
		@extend .accordion-icon;
		top: -66px !important;
	}



// Accordion
//
	.accordion {
		.card {
			border: none;
			margin-bottom: 0.375rem;
			color: $gray;
			overflow: hidden;

			// Card Header
			//
			.card-header {
				@extend .d-inline-flex;
				@extend .justify-content-between;

				background-color: $white;
				border-bottom: none;

				// heading
				.heading {
					padding: 0.3rem 0 0.15rem 0;

					.title {
						color: $gray-dark-800;
					}
				}

				a {
					display: block;
					color: $gray-dark;
				}

				p {
					margin-bottom: 0;
					margin-top: 3px;
					font-size: 15px;
					color: $gray-800;
				}

				// badges
				.wrapper-badge {
					@extend .align-self-center;
					@extend .mr-4;
				}

				@media (max-width: 991px) {
					& {
						display: block !important;

						.heading {
							//margin-bottom: 1rem;
						}
					}
				}
			}

			// Card Block * static style *
			//
			.card-block {
				border-top: 1px solid #E8E9E9;
				margin: 0 1.313rem;

				@media (max-width: 991px) {
					img {
						margin: 0 auto 21px;
						display: block;
						max-width: 120px;
					}
				}
			}

			// Collapse
			.collapse {
				position: relative;
				display: block;

				// Positioning "-" and "+" icons
				//
				&::before {
					@extend .accordion-icon;
				}

				&:not(.show) {
					.card-block {
						display: none;
					}

					&::before {
						font: normal normal normal 14px/1 FontAwesome;
						content: "\f067";
					}
				}

				&.show {
					.card-block {
						display: block;
					}

					&::before {
						font: normal normal normal 14px/1 FontAwesome;
						content: "\f068";
					}
				}
			}

			// Collapsing
			.collapsing {
				overflow: visible;

				// Enable icons in transition
				&::before {
					@extend .accordion-icon;
					display: block;
					transition: none;
					font: normal normal normal 14px/1 FontAwesome;
					content: "\f067";
				}
			}

			.actions {
				text-align: right;
			}
		}


		// Accordion with large header
		//
		&.accordion {
			.card-lg {
				.collapse,
				.collapsing {
					&::before {
						@extend .accordion-lg.accordion-icon;
					}
				}
			}
		}
	}


// Vertical tabs
//
	.vertical-tabs {
		border: none;

		&,
		.card-block {
			background-color: transparent;
		}

		.nav-tabs {
			border: none;

			.card-header {
				background-color: #FFFFFF;
				margin-bottom: 6px;
			}

			.nav-item {
				position: relative;
				min-height: 3.188rem;

				&,
				& > a.nav-link {
					border: none;
					border-radius: 0px;
				}

				& > a.nav-link {
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					color: #303332;
					padding: 0.75rem 1.25rem;
					border-left: 2px solid #E3E3E3;

					&.active {
						border-color: #262626;
					}
				}
			}
		}
	}