$color-ts-01: rgba(0, 0, 0, 0.03);
$color-ts-02: rgba(0,0,0,0.075);


table {

	&.table-sm {
		thead,
		tbody {
			tr > td,
			tr > th {
				padding: 0.5rem 0.75rem;
			}

			tr {
				font-size: 14px;
			}
		}
	}


	&.table-striped {
		tbody {
			tr {
				&:nth-of-type(odd) {
					background-color: $color-ts-01;
				}
			}

			&.table-hover {
				tr:hover {
					background-color: $color-ts-02;
				}
			}
		}
	}

	&.table-hover {
		tbody {
			tr {
				&:hover {
					background-color: $color-ts-01;
				}
			}
		}
	}

	thead.uppercased {
		th {
			text-transform: uppercase;
			font-weight: 400;
			font-size: 0.8125rem;
			color: #999999;
			border-top: none;
		}
	}

	.badge {
		padding: 0.5625rem;
	}

	.dropdown-menu {
		margin-bottom: 30px;
		padding: 0;

		@include media-breakpoint-down(sm) {
	    //position: static !important;
	  }

		.dropdown-item {
			margin: 3px 0;
			padding-top: 6px;
			padding-bottom: 6px;
			font-size: 0.85rem;
		}
	}

}

@include media-breakpoint-up(md) {
  .table-responsive {
      //overflow: visible;
  }
}