table {
	tr {
		td:not(.id){
			min-width: 180px;
		}

		td.badge {
			text-align: left;
		}
	}
}

.pagination {
	.page-item {
		.page-link {
			background-color: transparent;
			border: none;
			color: #292b2c;
			opacity: 0.8;
			font-weight: 300;

			&.active {
				font-weight: 400;
				opacity: 0.9;
			}

			&:hover,
			&:active,
			&:focus  {
				opacity: 1;
			}
		}
	}
}