// Bootstrap mixin (default)
//
// Needs to be removed after bootstrap integration
//
  @mixin _assert-ascending($map, $map-name) {
    $prev-key: null;
    $prev-num: null;
    @each $key, $num in $map {
      @if $prev-num == null {
        // Do nothing
      } @else if not comparable($prev-num, $num) {
        @warn "Potentially invalid value for #{$map-name}: This map must be in ascending order, but key '#{$key}' has value #{$num} whose unit makes it incomparable to #{$prev-num}, the value of the previous key '#{$prev-key}' !";
      } @else if $prev-num >= $num {
        @warn "Invalid value for #{$map-name}: This map must be in ascending order, but key '#{$key}' has value #{$num} which isn't greater than #{$prev-num}, the value of the previous key '#{$prev-key}' !";
      }
      $prev-key: $key;
      $prev-num: $num;
    }
  }

  // Replace `$search` with `$replace` in `$string`
  // @author Hugo Giraudel
  // @param {String} $string - Initial string
  // @param {String} $search - Substring to replace
  // @param {String} $replace ('') - New value
  // @return {String} - Updated string
  @function str-replace($string, $search, $replace: "") {
    $index: str-index($string, $search);

    @if $index {
      @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
  }

  @mixin _assert-starts-at-zero($map) {
    $values: map-values($map);
    $first-value: nth($values, 1);
    @if $first-value != 0 {
      @warn "First breakpoint in `$grid-breakpoints` must start at 0, but starts at #{$first-value}.";
    }
  }



// Bootstrap grid breakpoints (default)
//
// Needs to be removed after bootstrap integration
//

  $grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
  ) !default;
  @include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
  @include _assert-starts-at-zero($grid-breakpoints);



// Bootstrap Spacing (default + custom)
//
// Needs to be overwritten after bootstrap integration
//

  $spacer:   1rem !default;
  $spacer-x: $spacer !default;
  $spacer-y: $spacer !default;
  $spacers: (
    0: (
      x: 0,
      y: 0
    ),
    1: (
      x: ($spacer-x * .25),
      y: ($spacer-y * .25)
    ),
    2: (
      x: ($spacer-x * .5),
      y: ($spacer-y * .5)
    ),
    3: (
      x: $spacer-x,
      y: $spacer-y
    ),
    4: (
      x: ($spacer-x * 1.5),
      y: ($spacer-y * 1.5)
    ),
    5: (
      x: ($spacer-x * 3),
      y: ($spacer-y * 3)
    ),
    6: (
      x: ($spacer-x * 3.5),
      y: ($spacer-y * 3.5)
    ),
    7: (
      x: ($spacer-x * 4),
      y: ($spacer-y * 4)
    ),
    8: (
      x: ($spacer-x * 4.5),
      y: ($spacer-y * 4.5)
    ),
    9: (
      x: ($spacer-x * 5),
      y: ($spacer-y * 5)
    ),
    10: (
      x: ($spacer-x * 5.5),
      y: ($spacer-y * 5.5)
    )
  ) !default;
  $border-width: 1px !default;


// Bootstrap Sizes (default + custom)
//
// Needs to be overwritten after bootstrap integration
//

  $sizes: (
    20: 20%,
    25: 25%,
    35: 35%,
    50: 50%,
    65: 65%,
    75: 75%,
    80: 80%,
    100: 100%
  ) !default;


// Bootstrap border radius (default)
//
  $border-radius:          .25rem !default;
  $border-radius-lg:       .3rem !default;
  $border-radius-sm:       .2rem !default;


// Bootstrap transitions (default)
//
// Needs to be removed after bootstrap integration
//

  $transition-base:        all .15s ease-in-out !default;
  $transition-fade:        opacity .15s linear !default;
  $transition-collapse:    height .35s ease !default;



// Bootstrap Fonts (default + custom)
//
// Needs to be overwritten after bootstrap integration
//

  $font-family-base:    'Roboto', "Helvetica Neue", Arial, sans-serif !default;

  $font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
  $font-size-lg:   1.25rem !default;
  $font-size-sm:   .875rem !default;
  $font-size-xs:   .75rem !default;

  // Custom variable by Carbon Theme
  $font-family-extra:   'Roboto', "Helvetica Neue", Arial, sans-serif !default;

  $font-weight-normal: normal !default;
  $font-weight-bold: bold !default;




// Bootstrap Colors (default + custom)
//
// Needs to be overwritten after bootstrap integration
//

  $body-bg:         #f5f5f5 !default;
  $body-color:      #333333 !default;

  $white:           #ffffff !default;
  $black:           #000000 !default;

  $red:             #d9534f !default; // danger
  $orange:          #D1AF1C !default; // warning
  $yellow:          #ffd500 !default;
  $green:           #5cb85c !default; // success
  $blue:            #0275d8 !default; // primary
  $teal:            #5bc0de !default; // info
  $pink:            #ff5b77 !default;
  $purple:          #613d7c !default;

  // Grayscale
  $gray-dark:                 #292b2c !default;
  $gray:                      #464a4c !default;
  $gray-light:                #636c72 !default;
  $gray-lighter:              #eceeef !default;
  $gray-lightest:             #f7f7f9 !default;


  // Reassign color vars to semantic color scheme (default)
  //
  // Needs to be removed after bootstrap integration

  $brand-primary:   $blue !default;
  $brand-success:   $green !default;
  $brand-info:      $teal !default;
  $brand-warning:   $orange !default;
  $brand-danger:    $red !default;
  $brand-inverse:   $gray-dark !default;



// Carbon Theme Colors
//

  $primary-100:              lighten($brand-primary, 9%);
  $primary-200:              lighten($brand-primary, 6%);
  $primary-300:              lighten($brand-primary, 3%);
  $primary-400:              $brand-primary;
  $primary-500:              darken($brand-primary, 1%);
  $primary-600:              darken($brand-primary, 3%);
  $primary-700:              darken($brand-primary, 6%);
  $primary-800:              darken($brand-primary, 9%);

  $success-100:              lighten($brand-success, 9%);
  $success-200:              lighten($brand-success, 6%);
  $success-300:              lighten($brand-success, 3%);
  $success-400:              $brand-success;
  $success-500:              darken($brand-success, 1%);
  $success-600:              darken($brand-success, 3%);
  $success-700:              darken($brand-success, 6%);
  $success-800:              darken($brand-success, 9%);

  $info-100:                 lighten($brand-info, 9%);
  $info-200:                 lighten($brand-info, 6%);
  $info-300:                 lighten($brand-info, 3%);
  $info-400:                 $brand-info;
  $info-500:                 darken($brand-info, 1%);
  $info-600:                 darken($brand-info, 3%);
  $info-700:                 darken($brand-info, 6%);
  $info-800:                 darken($brand-info, 9%);

  $warning-100:              lighten($brand-warning, 9%);
  $warning-200:              lighten($brand-warning, 6%);
  $warning-300:              lighten($brand-warning, 3%);
  $warning-400:              $brand-warning;
  $warning-500:              darken($brand-warning, 1%);
  $warning-600:              darken($brand-warning, 3%);
  $warning-700:              darken($brand-warning, 6%);
  $warning-800:              darken($brand-warning, 9%);

  $danger-100:               lighten($brand-danger, 9%);
  $danger-200:               lighten($brand-danger, 6%);
  $danger-300:               lighten($brand-danger, 3%);
  $danger-400:               $brand-danger;
  $danger-500:               darken($brand-danger, 1%);
  $danger-600:               darken($brand-danger, 3%);
  $danger-700:               darken($brand-danger, 6%);
  $danger-800:               darken($brand-danger, 9%);

  $inverse-100:              lighten($brand-inverse, 9%);
  $inverse-200:              lighten($brand-inverse, 6%);
  $inverse-300:              lighten($brand-inverse, 3%);
  $inverse-400:              $brand-inverse;
  $inverse-500:              darken($brand-inverse, 1%);
  $inverse-600:              darken($brand-inverse, 3%);
  $inverse-700:              darken($brand-inverse, 6%);
  $inverse-800:              darken($brand-inverse, 9%);

  $gray-100:                 lighten($gray, 9%);
  $gray-200:                 lighten($gray, 6%);
  $gray-300:                 lighten($gray, 3%);
  $gray-400:                 $gray;
  $gray-500:                 darken($gray, 1%);
  $gray-600:                 darken($gray, 3%);
  $gray-700:                 darken($gray, 6%);
  $gray-800:                 darken($gray, 9%);

  $gray-dark-100:            lighten($gray-dark, 9%);
  $gray-dark-200:            lighten($gray-dark, 6%);
  $gray-dark-300:            lighten($gray-dark, 3%);
  $gray-dark-400:            $gray-dark;
  $gray-dark-500:            darken($gray-dark, 1%);
  $gray-dark-600:            darken($gray-dark, 3%);
  $gray-dark-700:            darken($gray-dark, 6%);
  $gray-dark-800:            darken($gray-dark, 9%);





// Options
//
// Quickly modify global styling by enabling or disabling optional features.

  $enable-rounded:            true !default;
  $enable-shadows:            false !default;
  $enable-gradients:          false !default;
  $enable-transitions:        true !default;
  $enable-hover-media-query:  false !default;
  $enable-grid-classes:       true !default;
  $enable-print-styles:       true !default;



// Bootstrap Forms
//

  $cursor-disabled:                not-allowed !default;

  $input-padding-x:                .75rem !default;
  $input-padding-y:                .5rem !default;
  $input-line-height:              1.25 !default;

  $input-bg:                       $white !default;
  $input-bg-disabled:              $gray-lighter !default;

  $input-color:                    $gray !default;
  $input-border-color:             rgba($black,.15) !default;
  $input-btn-border-width:         $border-width !default; // For form controls and buttons
  $input-box-shadow:               inset 0 1px 1px rgba($black,.075) !default;


// Bootstrap Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.


  // Padding
  $btn-padding-x:                  1rem !default;
  $btn-padding-y:                  .5rem !default;

  $btn-padding-x-sm:               .5rem !default;
  $btn-padding-y-sm:               .25rem !default;

  $btn-padding-x-lg:               1.5rem !default;
  $btn-padding-y-lg:               .75rem !default;

  $btn-block-spacing-y:            .5rem !default;
  $btn-toolbar-margin:             .5rem !default;

  // Alignment / Font
  $btn-line-height:                1.25 !default;
  $btn-font-weight:                $font-weight-normal !default;

  // Box Shadow
  $btn-box-shadow:                 inset 0 1px 0 rgba($white,.15), 0 1px 1px rgba($black,.075) !default;
  $btn-focus-box-shadow:           0 0 0 2px rgba($brand-primary, .25) !default;
  $btn-active-box-shadow:          inset 0 3px 5px rgba($black,.125) !default;


  $btn-primary-bg:                 blue !default;
  $btn-primary-border:             yellow !default;
  $btn-primary-color:              red !default;



// Allows for customizing button radius independently from global border radius
  $btn-border-radius:              $border-radius !default;
  $btn-border-radius-lg:           $border-radius-lg !default;
  $btn-border-radius-sm:           $border-radius-sm !default;



// Carbon Theme Sizes
//
// Needs to be overwritten after bootstrap integration
//

  // Navbar Utils

  $navbar-height:       60px;
  $brand-height:        36px;

  // Icons Sizes

  $icon-lg:   1.33333333em;
  $icon-2x:   2em;
  $icon-3x:   3em;
  $icon-4x:   4em;
  $icon-5x:   5em;

// Backgrounds, Borders and box shadow
//
// Needs to be overwritten after bootstrap integration
//
  .bg-transparent       { background-color: transparent !important; }

  .no-bg                { @extend .bg-transparent; }
  .no-border            { border: none !important; }
  .no-border-radius     { border-radius: 0; }
  .no-box-shadow        { box-shadow: none; }

  .no-bbb               {
                          @extend .no-bg;
                          @extend .no-border;
                          @extend .no-box-shadow;
                        }

