
ul {
	&.timeline {
		padding: 0;
		position: relative;

		.time,
		.tl-icon {
			display: inline-block;
		}

		.tl-icon {
			color: #FFFFFF;
			position: relative;
			text-align: center;
			border-radius: 50%;
			border: 3px solid white;

			@media (max-width: 1199px) {
				& {
					width: 2.625rem;
					height: 2.625rem;
					font-size: 1.313rem;
					line-height: 2.125rem;
					float: right;
				}
			}

			@media (min-width: 1200px) {
				& {
					width: 3.25rem;
					height: 3.25rem;
					line-height: 3rem;

					i.fa {
						font-size: 1.375rem;
					}
				}
			}
		}

		.time {
			p {
				font-size: 0.8125rem;

				strong {
					font-size: 16px;
				}

				span {
					color: #999999;
				}

				@media (max-width: 1199px) {
					& {
						margin-bottom: 0;
					}
				}
			}
		}

		.activity {
			padding: 0.5625rem 0.75rem;

			.lead {
				font-size: 1.125rem;
			}

			@media (max-width: 1199px) {
				& {
					position: relative;
					background-color: #FFFFFF;
					margin-bottom: 3rem;
					margin-top: 0.75rem;

					&::before {
						content: '';
						width: 15px;
						height: 15px;
						display: block;
						position: absolute;
						top: -15px;
						left: 25px;
						border-right: 0.5625rem solid transparent;
				    border-left: 0.5625rem solid transparent;
				    border-bottom: 0.5625rem solid #FFFFFF;
					}
				}
			}

			@media (min-width: 1200px) {
				&.none {
					color: #999999;
				}

				&:not(.none) {
					background-color: #FFFFFF;

					&::before {
						content: '';
						width: 15px;
						height: 15px;
						display: block;
						position: absolute;
						left: 0;
						border-right: 0.5625rem solid #FFFFFF;
						border-bottom: 0.5625rem solid transparent;
						border-top: 0.5625rem solid transparent;
					}
				}
			}
		}

		@media (min-width: 1200px) {
			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 0.75rem;
				bottom: 0;
				right: 0;
				left: 127px;
				background: white;
				width: 6px;
				height: 85%;
			}

			.tl-item {
				padding: 0.75rem 0;
				margin-bottom: 1rem;

				.time {
					min-width: 100px;
					padding-right: 0.75rem;
					text-align: right;

					p {
						margin-bottom: 0px;
						font-size: 0.8125rem;

						strong {
							font-size: 16px;
						}

						span {
							color: #999999;
						}
					}
				}
			}
		}
	}
}

/*
ul {
	&.timeline {
		padding: 0;
		position: relative;

		.time,
		.tl-icon {
			display: inline-block;
		}

		.tl-icon {
			color: #FFFFFF;
			position: relative;
			text-align: center;
			border-radius: 50%;
			border: 3px solid white;

			@include media-breakpoint-down(xl) {
				& {
					width: 2.625rem;
					height: 2.625rem;
					font-size: 1.313rem;
					line-height: 2.125rem;
			    float: left;
			    margin-right: 1rem;
				}
			}

			@include media-breakpoint-up(xl) {
				& {
					width: 3.25rem;
					height: 3.25rem;
					line-height: 3rem;

					i.fa {
						font-size: 1.375rem;
					}
				}
			}
		}

		.time {
			p {
				font-size: 0.81rem;

				strong {
					font-size: 16px;
				}

				span {
					color: #999999;
				}
			}
		}

		.activity {
			padding: 0.5625rem 0.75rem;

			.lead {
				font-size: 1.125rem;
			}

			@include media-breakpoint-down(xl) {
				& {
					position: relative;
					background-color: #FFFFFF;
					margin-bottom: 3rem;
					margin-top: 0.75rem;

					&::before {
						content: '';
						width: 15px;
						height: 15px;
						display: block;
						position: absolute;
						top: -15px;
						left: 25px;
						border-right: 0.5625rem solid transparent;
				    border-left: 0.5625rem solid transparent;
				    border-bottom: 0.5625rem solid #FFFFFF;
					}
				}
			}

			@include media-breakpoint-up(xl) {
				&.none {
					color: #999999;
				}

				&:not(.none) {
					background-color: #FFFFFF;

					&::before {
						content: '';
						width: 15px;
						height: 15px;
						display: block;
						position: absolute;
						left: 0;
						border-right: 0.5625rem solid #FFFFFF;
						border-bottom: 0.5625rem solid transparent;
						border-top: 0.5625rem solid transparent;
					}
				}
			}
		}

		@include media-breakpoint-down(xl) {
			p {
				margin-bottom: .25rem;
			}
		}

		@include media-breakpoint-up(xl) {
			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 0.75rem;
				bottom: 0;
				right: 0;
				left: 127px;
				background: white;
				width: 6px;
				height: 85%;
			}

			.tl-item {
				padding: 0.75rem 0;
				margin-bottom: 1rem;

				.time {
					min-width: 100px;
					padding-right: 0.75rem;
					text-align: right;

					p {
						margin-bottom: 0px;
						font-size: 0.8125rem;

						strong {
							font-size: 16px;
						}

						span {
							color: #999999;
						}
					}
				}
			}
		}
	}
}
*/

.card {

	// Widget 01 - Default
	//
		&.widget-01 {

			// Basic Style
			border: none;

			.card-block {
				padding: 1.313rem 1.875rem;

				.heading {
					position: relative;
					padding-bottom: 1rem;
				}
			}

			.widget-title {
				h3 {
					font-size: 2.125rem;
					font-weight: 600;
					margin-bottom: 0;
					text-align: left;

					small {
						display: block;
						text-transform: uppercase;
						font-size: 0.75rem;
						color: rgba(255, 255, 255, 0.75);
					}
				}
			}

			// Sizing
			@media (max-width: 767px) {
				&.card {
					min-width: 100%;

					&:not(:last-child) 	{ margin-left: 0px; }
					&:last-child 		{ margin-left: 0px; }
				}
			}

			@media (min-width: 768px) and (max-width: 1199px) {
				&.card {
					min-width: 40%;

					&:nth-of-type(1),
					&:nth-of-type(3) {
						margin-left: 0px;
					}

					&:nth-of-type(2),
					&:nth-of-type(4) {
						margin-right: 0px;
					}
				}
			}

			// Widget - lg
			&.widget-lg {
				.heading {
					&::after {
						content: '';
						position: absolute;
						width: 100%;
						display: block;
						border-bottom: 1px solid rgba(255, 255, 255, 0.45);
						margin: auto;
						bottom: 0;
					}
				}
			}

			// With Background
			&.widget-bg {
				position: relative;
				overflow: hidden;

				.bg-icon {
					position: absolute;
					top: 0.75rem;

					i.fa {
						font-size: 9rem;
						opacity: 0.2;
					}

					@media (max-width: 1199px) {
						& { left: -10%; }
					}

					@media (min-width: 1200px) {
						& { left: -25%; }
					}
				}
			}
		}

/*
	&.custom-03 {
		.img-badge {
			position: relative;

			img {
				max-height: 172px;
			}

			.badge {
				position: absolute;
				top: 0;

				margin: 1rem;
				padding: 0.25rem 0.5625rem;
				text-transform: uppercase;
				font-weight: 400;
				letter-spacing: 0.3px;
			}
		}

		@media (max-width: 575px) {
			&{
				margin-bottom: 21px;
			}
		}

		@media (max-width: 767px) {
			h3.text-right {
				text-align: left !important;
				margin-top: 0.75rem;
			}
		}

		@media (max-width: 991px) {
			& > .w-35,
			& > .w-65 {
				width: 100% !important;
			}
		}
	}

	// Widget 04 - Widget with background image
	&.bg {
		&.inner {
			position: relative;
			color: #FFFFFF;

			.card-block {
				position: absolute;
				height: 100%;
				width: 100%;

				background: rgba(255,255,255,0);
				background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(0,0,0,1)));
				background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
				background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
				background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
				background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );

				.content {
					position: absolute;
					margin: auto;
					padding: 15px;
					bottom: 0;
					right: 0;
					left: 0;
				}
			}

			&.hidden { 
				// overflow: hidden;

				.content {
					.card-text {
						position: relative;
						display: block;
						color: #fff;
						font-size: 13px;
						margin-bottom: -20px;
						opacity: 0;
						transition: all 350ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
					}
				}

				&:hover {
					.card-text {
						margin-bottom: 0px;
						opacity: 1;
					}
				}
			}
		}
	}
	*/
}
