.steps {
  margin: 1.875rem auto;

  .steps-title {
    max-width: 375px;
    margin: 0 auto;
    padding: 0.75rem 0;

    div {
      & > span {
        margin: 0;
        padding: 0;
        font-size: 0.75rem;
        font-weight: 600;
      }

      &.active > span {
        color: #0f0f0f;
      }

      &:not(.active) > span {
        color: #0f0f0f;
      }
    }

    .step {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }

  .steps-bar {
    max-width: 240px;
    margin: 0 auto;

    & > div {
      margin: auto;
      padding: 0; 
    }

    .step {
      width: 100%;
      position: relative;
      display: block;

      &:before {
        height: 15px;
        content: '';
        position: absolute;
        top: 0.875rem;
        display: block;
        border-top: 1px solid #e7e7e7;
        border-bottom: 1px solid #e7e7e7;
        background-color: #ffffff;
        z-index: 0;
      }
    }

    &:after {
      height: 7px;
      content: '';
      position: absolute;
      top: 1.125rem;
      display: block;
      background-color: #d1d1d1;
      z-index: 0;
    }

    .circle {
      width: 42px;
      height: 42px;
      display: block;
      border: 1px solid #e7e7e7;
      background-color: #ffffff;
      border-radius: 50%;
      font-size: 1.125rem;
      font-weight: 700;
      text-align: center;
      line-height: 2.063rem;

      span {
        width: 34px;
        height: 34px;
        content: '';
        position: absolute;
        top: 0.25rem;
        display: block;
        border-radius: 50%;
        z-index: 0;
      }

      &.active span {
        background-color: #828282;
        color: #ffffff;

        i {
          padding-left: 0.5rem;
          font-size: 1.125rem;
          color: #ffffff;
          line-height: 2.25rem;
        }
      }

      &:not(.active) span {
        background-color: #d3d3d3;
        color: #f5f5f5;
      }
    }

    .step-1 {
      &:before {
        left: 2.5rem;
        right: 0;
        width: 100%;
      }

      &.active:after {
        left: 2.25rem;
        right: 0;
      }

      .circle {
        float: left;

        span {
          left: 0.25rem;
        }
      }
    }

    .step-2 {
      &:before {
        left: -40px;
        right: 2.5rem;
        width: 100%;
        margin: auto;
      }

      &.active:after {
        left: 0;
        right: 2.25rem;
      }

      .circle {
        float: right;

        span {
          right: 0.25rem;
        }
      }
    }
  }
}

.progress.wizard {
  border-radius: 0;

  .progress-bar {
    height: 12px;

    &:nth-of-type(1) { background-color: #3286A5; }
    &:nth-of-type(2) { background-color: #5EA5BF; }
    &:nth-of-type(3) { background-color: #90D8E5; }
    &:nth-of-type(4) { background-color: #90E5D5; }
  }
}