// Soon

.soon {
	.wrapper {
		margin:0 auto;
		text-align: center;

		img {
			margin:0 auto;
			text-align: center;

			@include media-breakpoint-only(xs) {
				max-width: 75%;
				margin-top: 60px;
				margin-top: 30vh;
			}

			@include media-breakpoint-only(sm) {
				max-width: 300px;
				margin-top: 120px;
				margin-top: 30vh;
			}

			@include media-breakpoint-only(md) {
				max-width: 300px;
				margin-top: 210px;
				margin-top: 39vh;
			}

			@include media-breakpoint-only(lg) {
				max-width: 300px;
				margin-top: 240px;
				margin-top: 42vh;
			}

			@include media-breakpoint-only(xl) {
				max-width: 300px;
				margin-top: 300px;
				margin-top: 45vh;
			}
		}

		p {
			margin-top: 30px;
		}
	}
}


// Icons
//
// Stack > Font awesome + icomoon
//
	.icon-stack,
	.fa-stack {
		@extend .d-inline-block;
		position: relative;
	  vertical-align: middle;
	  width: 				$icon-stack;
	  height: 			$icon-stack;
	  line-height: 	$icon-stack;

		i[class$="-stack-1x"] {
		  line-height: inherit;
		  font-size: $icon-stack-1x;
		}

		i[class$="-stack-2x"] {
		  font-size: $icon-stack-2x;
		}

		i[class$="-stack-1x"],
		i[class$="-stack-2x"] {
			@extend .w-100;
			@extend .text-center;
			position: absolute;
	    left: 0;
		}

		.fa,
		i[class^="icon-"] {
			@extend .d-inline-block;
		}
	}



//  Badges
//
  .badge {
    &.badge-negative {
      background-color: #FFFFFF;
      color: #262626;
    }
  }

// Definições gerais de formulários
//
	form {
		.radio,
		.form-control,
		.custom-file-control,
		.input-group-btn > .btn {
			@extend .form-lg;
			border: 1px solid #F0F0F0 !important;

			&:hover {
				border-color: #D4DBE0 !important;
			}

			&:focus {
				border-color: #C5CCD1 !important;
			}
		}

		label.col-form-label {
			span {
				@extend .light-container;
				display: block;
				font-size: 1rem;
				text-transform: uppercase;

				@include media-breakpoint-up(md) {
					padding-right: 1rem;
				}
			}
			small {
				font-size: 12px;
				color: $gray;
			}
		}

		p.lead {
			margin-bottom: 1.8rem;
		}

		// TODO -> provisorio - trocar por componente de adicionar inputs
		.form-group {
			margin-bottom: 2.5rem;

			.col-sm-8 {
				button {
					@extend .light-container;
					margin: 0.5rem 0rem 2.1rem 0rem;
					padding: 0rem;
					border-bottom: 1px dotted $gray-100;
					font-size: 14px;
					text-transform: uppercase;

					&:hover {
						color: $gray-dark-800;
						border-bottom-color: $gray-dark;
					}
				}

				label {
					font-size: 0.95rem;
				}

				// pra casos de inputs dividindo colunas
				.row > div {
					margin-bottom: 0.9rem;
				}
			}
		}

		// inicio - definição somente para apresentação da interface
		.custom-file {
				height: 180px;

			.custom-file-control {
				height: 180px;
				border: 1px solid $gray;
				border-radius: 0;
				background-color: $white;
				font-size: 0.9rem;
				color: #848685;
				text-align: center;

				&:hover {
					border-color: $gray-800;
				}

				&:focus {
					border-color: $gray-dark;
				}

				span.btn-download {
					@extend .d-flex;
					@extend .justify-content-center;
					@extend .mx-auto;

					width: 165px;
					display: block;
					margin-bottom: 18px;
					padding: 9px;
					background-color: #9C9F9C;
					border-radius: 6px;
					color: $white;

					@include media-breakpoint-only(xs) {
						margin-top: 45px;
					}

					@include media-breakpoint-up(sm) {
						margin-top: 54px;
					}

					i {
						@extend .align-self-center;
						@extend .mr-2;
					}
				}
			}
		}
		// fim - definição somente para apresentação da interface


		// customizando accordion dentro de form
		.accordion {
			@extend .pt-4;

			.card {
				.card-header {
					a {

						label {
							position: relative;
							top: 0.3rem;

							.custom-control-indicator {
								top: 0.3rem;
							}

							.custom-control-description {
								@extend .ml-3;
								font-size: 1.1rem;
							}
						}
					}
				}

				.card-block {
					p,
					li {
						font-size: 1rem;
					}

					li {
						padding-top: 0.6rem;
						padding-bottom: 0.6rem;
					}
				}

				.collapse,
				.collapsing {
					&::before {
						//top: -2.35rem;
						top: -3.3rem;
						//right: 2.4rem;
						right: 0.9rem;
					}
				}
			}
		}

		// customizando radio
		.custom-radio {
			.custom-control-indicator {
				background-color: transparent;
				border: 2px solid #ddd;
			}

			.custom-control-input:checked~.custom-control-indicator {
				background-color: $brand-primary;
				border-color: $brand-primary;
			}
		}

		// customizando chechbox
		.checkbox.square {
			border: none;
			padding: .6rem .75rem;

			label {
				span {
					padding-left: 2.1rem;
					padding-top: 4px;

					&::before {
						top: 6px;
						border-radius: 2px;
					}
				}

				input:checked {
					+ span {
						font-weight: 700;

						&::after {
							top: 8px;
						}
					}
				}
			}
		}
	}


// Definições do fluxo de cadastro e login
//
	.auth {
		&:before {
			width: 100%;
			height: 15px;
			display: block;
			content: '';
			background: rgba(230,35,50,1);
			background: -webkit-gradient(left top, right top, color-stop(0%, rgba(230,35,50,1)), color-stop(100%, rgba(27,25,74,1)));
	    background: -webkit-linear-gradient(left, rgba(230,35,50,1) 0%, rgba(27,25,74,1) 100%);
	    background: 	 -moz-linear-gradient(left, rgba(230,35,50,1) 0%, rgba(27,25,74,1) 100%);
	    background:  		 -o-linear-gradient(left, rgba(230,35,50,1) 0%, rgba(27,25,74,1) 100%);
	    background: 		linear-gradient(to right, rgba(230,35,50,1) 0%, rgba(27,25,74,1) 100%);
	  }

	  &.register {

			h1 {
				color: $gray-dark-100;
			}

			p {
				color: $gray-800;
			}

			.card {

				.card-block {
					> .float-right {
						position: relative;
						top: -21px;
						font-size: 0.9rem;
						font-weight: $font-weight-medium;
						text-transform: uppercase;
						color: $gray-700;

						i {
							margin-left: 9px;
						}

						&:hover {
							color: $gray-dark;
						}
					}

					> a.btn.btn-success {
						max-width: 450px;
					}
				}
			}

			label {
				margin-top: 0.75rem;
			}
		}

	  header {
	  	.brand {
	  		@include media-breakpoint-down(md) {
					margin-top: 3rem;
				}

				@include media-breakpoint-up(lg) {
					margin-top: 6rem;
				}
	  	}
	  }

		.card {
			border-radius: 0;

			.card-header {
				color: #2E2F31;
			}

			.card-block {
				.card-text {
					&.card-text-sm {
						font-size: 0.8rem;
					}
				}
			}

			.btn {
				@extend .font-weight-medium;

				&.btn-facebook {
					margin-top: 0 !important;
					margin-bottom: 1.8rem !important;
					background-color: #4A6DA7;
					font-size: 1.1rem;
					color: #ffffff;
					text-transform: none;

					&:hover {
						background-color: #405E92;
					}

					i {
				    float: left;
				    margin: 0;
				    padding: 0;
				    font-size: 1.8rem;
				    line-height: 1.2rem;
					}
				}
			}
		}

		.cta a {
			color: #202225 !important;

			small {
				color: #5B6368 !important;
			}

			&:hover,
			&:hover small {
				color: $gray-dark-800 !important;
			}
		}
	}

// Definições da navbar
//
	nav.navbar {
		// definitions
	}

	// Nav Gradiente
	//

	.nav-item {
		&:not(.active) {
			> .nav-gradient-inner {
				display: none;
			}
		}

		&.active {
			.nav-link {
				color: #DA333F !important;
			}

			> .nav-gradient-inner {
				@include media-breakpoint-up(md) {
					display: block;
					position: fixed;
					top: $navbar-height;
					left: 0;
					right: 0;
					padding: .25rem;

					.nav-item {
						padding-left: 0.6rem !important;
						padding-right: 0.6rem !important;
						font-weight: $font-weight-medium;

						&:first-of-type .nav-link {
							padding-left: 0;
						}

						.nav-link {
							color: $white !important;
						}
					}
				}
			}
		}
	}

	.nav-gradient {
		@include media-breakpoint-down(sm) {
			display: none;
		}

		@include media-breakpoint-up(md) {
			display: block;
			height: 48px;
			position: fixed;
			top: $navbar-height;
			left: 0;
			right: 0;
			background: rgba(230,35,50,1);
			background: -moz-linear-gradient(left, rgba(230,35,50,1) 0%, rgba(27,25,74,1) 100%);
			background: -webkit-gradient(left top, right top, color-stop(0%, rgba(230,35,50,1)), color-stop(100%, rgba(27,25,74,1)));
			background: -webkit-linear-gradient(left, rgba(230,35,50,1) 0%, rgba(27,25,74,1) 100%);
			background: -o-linear-gradient(left, rgba(230,35,50,1) 0%, rgba(27,25,74,1) 100%);
			background: -ms-linear-gradient(left, rgba(230,35,50,1) 0%, rgba(27,25,74,1) 100%);
			background: linear-gradient(to right, rgba(230,35,50,1) 0%, rgba(27,25,74,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e62332', endColorstr='#1b194a', GradientType=1 );
		}
	}

	// wrapper-main fix position with nav-gradient
	.wrapper {
		.layout-navbar {
			.wrapper-main {
				@include media-breakpoint-up(md) {
					padding-top: calc(#{$navbar-height} + 90px) !important;
				}
			}
		}
	}

	// Nav pills
	//

	.nav-pills {
		background-color: $white;
		padding: 1rem;

		.nav-item {
			margin-bottom: 0.6rem;
			font-size: 0.95rem;

			.nav-link {
				> i 						{ font-size: 1.4rem; }
				> span.fa-stack {
					font-size: .7rem;

					i.fa-user {
				    font-size: 0.6rem;
				    padding-top: 1px;
					}
				}

				> i,
				> span.fa-stack {
					margin-right: 6px;
				}
			}
		}

		.nav-link {
			&.active {
				background-color: $gray-100;
			}
		}
	}


// Templates e estrutura
//
	.wrapper {
		// Common
		.wrapper-content {
			// primeira linha (cabeçalho)
			> .container > section > .row:first-child {
				@extend .mb-6;

				> div:last-child {
					@include media-breakpoint-down(md) {
						text-align: center;

						.btn {
							margin-bottom: 30px;
						}
					}

					@include media-breakpoint-up(lg) {
						text-align: right;

						.btn {
							margin-top: 60px;
						}
					}
				}

				.form-group {
					@include media-breakpoint-up(lg) {
						margin-bottom: 0;
					}
				}
			}

			@include media-breakpoint-down(md) {
				div:not(.card) {
					h1,
					h2,
					h1 + p,
					h2 + p {
						text-align: center;
					}
				}
			}

			.page-header,
			h1 + p,
			h2 + p {
				max-width: 540px;
				@include media-breakpoint-down(md) {
					margin-left: auto;
					margin-right: auto;
				}
			}

			h1 + p,
			h2 + p {
				margin-top: 1rem;
				font-size: 0.95rem;
				font-weight: $font-weight-light;
				color: #B1B1B1;
				line-height: 1.5 !important;
			}

			h1 small {
				margin-top: 9px;
				display: block;
			}

			.row > .col-lg-6 {
				&.d-flex.align-self-center.justify-content-end {
					@include media-breakpoint-down(md) {
						justify-content: center !important;
						margin-bottom: 15px;
    				margin-bottom: 1.2rem;
					}

					@include media-breakpoint-down(sm) {
						.btn {
							width: 100%;
						}
					}
				}
			}

			// seção principal
			> section,
			.container > section,
			.container-fluid > section {

				@extend .my-4;
				@include media-breakpoint-down(sm) {
					text-align: center;
				}

				// subseção (agrupamento dentro da section principal)
				> section {
					@extend .mx-auto;
					@extend .py-5;

					header {
						@extend .pb-4;
					}
				}
			}

			// cabeçalhos
			h1 {
				font-size: 1.8rem;
				font-weight: $font-weight-medium;
			}

			h2 {
				font-size: 1.35rem;
				font-weight: 400;
			}

			h1 + p.lead,
			h2 + p.lead {
				font-size: 1rem;
				color: #6F7174;
			}

			h2 + p:not(.lead) {
				line-height: 1.35;
			}

			// utilities
			hr {
				@extend .my-5;
				border-top-color: #E8E9E9;
			}
		}


		// Default Template
		> .default-template {
			padding-bottom: 4.2em;

			@include media-breakpoint-up(md) {
				min-height: 100%;
				background-image: url('/assets/esad/img/bg-ax-dark.png');
				background-repeat: no-repeat;
				background-position: right bottom;
				background-size: auto;
				background-attachment: fixed;
			}

			.navbar.bg-faded {
				background-color: $white;
			}

			.wrapper-main {
				.wrapper-content {
					h1 {
							margin-bottom: 2.4rem;
							font-size: 2.25rem;
							font-weight: 400;
							line-height: 1.35;
						}

					p.lead {
						font-size: 1.4rem;
					}

					.container > div.row,
					.container > div.form-group {
						max-width: 840px;
					}

					.container > div.accordion,
					.container > div.checkbox,
					.container > ul.nav,
					.container > hr,
					.container > label {
						max-width: 810px;
					}

					.container hr {
						margin-left: 0;
					}
				}
			}

			@include media-breakpoint-up(md) {
				.wrapper-main {
					padding-top: calc(#{$navbar-height}*2 + 5.4rem);

					.wrapper-content {
						margin: 0 auto !important;
						padding-bottom: 3rem;
					}
				}
			}
		}

		// Header Template > Resetting distance from top
		> .image-header-template,
		.flat-header-template {
			.wrapper-main {
				padding-top: 0px;
			}
		}

		// Image Header Template (dashboard)
		//
		> .image-header-template {
			> header {
				height: 28rem;
				background-image: url('/assets/esad/img/bg-image-01.jpg');
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center center;
			}

			.wrapper-content {

				h1 {
					color: $gray-dark;
				}

				h1 + p.lead {
					color: $gray-800;
				}

				// no breakpoint incrementa o espaço da fase inicial de negociação para a final
				div.row > div:last-child {
					@include media-breakpoint-down(md) {
						//margin-top: 3rem;
					}
				}

				.btn {
					@extend .mt-6;
					padding-top: 0.9rem;
					padding-bottom: 0.9rem;
					border-radius: 3px;
					font-size: 14px;

					@include media-breakpoint-down(md) {
						width: 100%;
						display: block;
					}

					@include media-breakpoint-up(lg) {
						padding-left: 4.5rem;
						padding-right: 4.5rem;
					}
				}
			}
		}

		// Flat Header Template
		//
		> .flat-header-template {
			> header {
				height: 19rem;
				background-color: $brand-primary;
				background-image: url('/assets/esad/img/bg-ax-light-sm.png');
				background-repeat: no-repeat;
				background-size: auto 100%;

				@include media-breakpoint-only(xs) {
					background-position: 0% center;
				}

				@include media-breakpoint-only(sm) {
					background-position: 180% center;
				}

				@include media-breakpoint-only(md) {
					background-position: 150% center;
				}

				@include media-breakpoint-up(lg) {
					background-position: 72% center;
				}
			}

			.wrapper-content {
				section,
				div {
					&.bg-white {
						border-top: 1px solid #E8E9E9;
						border-bottom: 1px solid #E8E9E9;
					}

					+ section {
						@extend .mt-5;
					}
				}

				// page-header dentro do header principal
				margin-top: -12rem !important;

				h1 {
					color: $white;
				}

				p.lead {
					color: rgba(255,255,255,0.75);
				}

				h2 {
					color: $gray-dark-100;
				}

				h2 + p {
					color: $gray-100;
				}
			}
		}

		// Business - Heading
		.bussiness-heading {
			.img-bussiness {
		    background-position: center;
		    background-size: cover;

		    &.edit-photo {
		    	position: relative;

		    	.btn {
		    		position: absolute;
		    		bottom: 0;
		    		background-color: rgba(0, 0, 0, 0.65);
		    		color: #eeeeee;
		    	}
		    }
		  }

		  @media (max-width: 1199px) {
    		.img-bussiness {
    			height: 210px;
		    	margin-bottom: 50px;
    		}
    	}

			@media (min-width: 1200px) {
				& {
					position: relative;
					height: 210px;
					margin-bottom: 140px;
				}

				.img-bussiness {
					width: 95%;
					height: 213px;
				}

				.heading-block {
					position: absolute;
					margin: auto;
					left: 0;
					right: 0;
				}
			}

			.details {
				margin-top: 4rem;

				h2 {
					font-size: 1.25rem;
					line-height: 1.75rem;

					small {
						display: block;
						color: #6F7174;
					}
				}
			}
		}
	}

	// Admin-template
	//
	.admin-template {

		// Navbar
		//
			.navbar {
				.navbar-nav {
					&.nav-user {
						@extend .mr-0;
						@extend .ml-auto;

						.nav-profile {
							span {
								@extend .ml-1;

								i {
									font-size: .65rem;
								}
							}
						}
					}
				}
			}

		// Sidebar
		//
			.sidebar {
				background-color: $blue;

				.sidebar-header {
					background-color: $white;
				}

				.sidebar-nav {
					@extend .pt-5;

					& > .nav-pills > .nav-item > .nav-link {
						@extend .text-uppercase;
					}

					.nav-item {
						.nav-link {
							@extend .no-border-radius;
							@extend .no-bg;
							padding: 0.95rem 3rem;

							&.active {
								border-left: 3px solid $white;
								background-color: rgba(0,0,0,.1);
								position: relative;

								&,
								> a.dropdown {
									color: $white;
								}

								&::after {
								  content: '';
							    width: 20px;
							    height: 20px;
							    margin: auto;
							    position: absolute;
							    right: 0;
							    top: 0;
							    bottom: 0;
							    border-right: 18px solid #f9f9f9;
							    border-top: 18px solid transparent;
							    border-bottom: 18px solid transparent;
							   }
							}

							& > .dropdown:hover,
							& > .dropdown:focus,
							&:hover,
							&:focus {
								color: $white !important;
							}
						}

						.collapsed {
							border-left: 3px solid $white;
							background-color: rgba(0,0,0,.1);

							.nav-link::before {
								content: '-';
							}
						}
					}
				}
			}

		// Nav - Negocios
		//
			.nav-bussiness {
				// border-bottom: 0.15rem solid #d9d9d9;

				.nav-item {
					&:not(:last-of-type) {
						margin-right: .25rem;
					}

					.nav-link {
						background-color: #F0F0F0;

				    border-bottom-left-radius: 0px;
				    border-bottom-right-radius: 0;

						&.active {
							color: $gray-dark;
							background-color: #D9D9D9;
						}
					}
				}
			}

			.wrapper-buttons {
				@media (min-width: 1199px) {
					& {
						float: right;
					}
				}
			}

			.tab-content {
				&.main-tab {
					 > .tab-pane {
						&.active {
					    padding: 6rem 4.25rem;
					    border: 0.1rem solid #d9d9d9;
						}
					}
				}
			}

		// Header
		//
			header {
				@extend .pb-4;

				p.lead 	{ color: $gray; }
			}
	}


	.light-container {
		color: $gray-dark;
	}

// Typography
//

	.display-4 {
		font-size: 2.1rem !important;
		font-weight: 400 !important;
    line-height: 2.063rem;
		color: #6F7174;
		text-transform: none !important;

		small {
			font-size: 1.35rem;
			color: $gray-dark-100;
		}
	}

	.display-5 {
		font-size: 1.875rem;
    line-height: 2.063rem;
		color: #6F7174;
	}


// Components
//

// badges
//
	.badge {
		padding: 0.45rem 0.75rem !important;
		border-radius: 0;
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase;
	}


// Buttons
//
	.btn {
		padding-top: 0.5rem;
		padding-bottom: 0.4rem;

		&:not(.btn-rounded) {
			border-radius: 3px;
		}

		&.btn-rounded {
			border-radius: 25px;
		}

		// Sizes
		&.btn-lg {
			padding-top: 1.15rem;
			padding-bottom: 1.05rem;
			font-size: 1rem;
		}

		&.btn-outline-secondary {
			border-color: $gray-dark-100;
			color: $gray-dark;

			&:hover,
			&:focus,
			&:active {
				background-color: $gray-dark;
				border-color: $gray-dark;
				color: $white !important;
				cursor: pointer;
			}
		}

		i {
	    padding-right: 0.45rem;
	    padding-left: 0.15rem;

		}
	}

	.btn-business {
		@include media-breakpoint-down(sm) {
			margin-bottom: 1.5rem;

			.btn {
				display: block;
			}
		}

		@include media-breakpoint-up(md) {
			display: inline-block !important;

			&:first-child {
				margin-right: 1rem;
			}
		}

		.btn {
			padding: 1.2rem 2.7rem;
			border-left-width: 9px;
			border-left-style: solid;
			color: $white;

			&.btn-offer {
				background-color: #0A253E;
				border-left-color: #0E1B2A;

				&:hover {
					background-color: #0E1B2A;
					color: $white;
				}

			}

			&.btn-search {
				background-color: #CBB556;
				border-left-color: #C1A53A;

				&:hover {
					background-color: #CAAD41;
					color: $white;
				}
			}
		}
	}


	// pagination
	.pagination {
		display: block;
		border-top: 1px solid #e8e8e8;
		padding: 1rem 0.75rem;

		p {
			margin-top: 9px;
			margin-top: 0.6rem;
			font-size: 0.85rem;
			text-align: left;
		}

		.pagination-links {
			margin: 0;
			display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
			display: flex;
		}

		.page-item {
			i {
				font-size: 12px;
			}
		}
	}

	// Steps
	.steps-fixed-top {
		top: $navbar-height !important;
		background-color: $white;

		@include media-breakpoint-down(sm) {
			display: none;
		}

		.nav.nav-pills {
			border-bottom: 1px solid #f1f1f1;
			font-size: 0.9rem;

			.nav-item {
				.nav-link {
					padding: 2rem 0 1.8rem 0;
					border-radius: 0;
					border-top-width: 3px;
					border-top-style: solid;
					border-top-color: $brand-primary;
					background-color: $white;
					color: $gray-dark-100;
					text-transform: uppercase;

					small {
						display: block;
						font-size: 90%;
						font-weight: 400;
						text-transform: none;
					}

					&.active {
						border-color: $brand-alternative;
						font-weight: 700;
						color: $gray-dark-800;
					}

					&.disabled {
						opacity: 0.6;
						border-color: #dcdcdc;
						color: $gray;
					}
				}

				&:last-child {
					.nav-link.active {
						border-color: $brand-success;
						color: $gray-dark-800;
					}
				}
			}
		}
	}

	.steps-fixed-bottom {
		background-color: #f6f6f6;
		border-top: 1px solid #f1f1f1;

		@include media-breakpoint-down(sm) {
			.container {
				width: auto;
				padding-left: 0;
				padding-right: 0;
			}
		}

		.nav.nav-pills {
			font-size: 0.9rem;

			@include media-breakpoint-up(md) {
				max-width: 600px;
				padding-top: 0.6rem;
				padding-bottom: 0.45rem;
			}

			.nav-item {
				.nav-link {
					width: 100%;
					@extend .mx-auto;
					padding: 0.9rem 0;
					border-top-width: 1px;
					border-top-style: solid;
					text-transform: uppercase;

					&.disabled {
						opacity: 0.6;
					}

					i {
						margin-right: 0.6rem;
						font-size: 80%;
					}
				}

				&:first-child {
					.nav-link{
						border-top-color: transparent;
						background-color: transparent;
						color: $gray-800;
					}
				}

				&:last-child {
					.nav-link{
						border-top-color: $brand-primary;
						background-color: $brand-primary;
						color: $white;
					}
				}

				@include media-breakpoint-down(sm) {
					.nav-link {
						padding: 1.2rem 0;
						border-radius: 0;
					}

					&:first-child {
						.nav-link {
							border-top-color: #D1D1D1;
							background-color: #F5F5F5;
						}
					}
				}

				@include media-breakpoint-up(md) {
					&:first-child {
						max-width: 105px;
						text-align: left;
					}
				}

				@include media-breakpoint-only(md) {
					&:first-child {
						margin-right: 135px;
					}
				}

				@include media-breakpoint-up(lg) {
					&:first-child {
						margin-right: 175px;
					}
				}
			}
		}
	}

	// Cards
	//
	//
	.card {
		// Cards
		//
			border: none !important;

			&.custom-02 {
				&.border-left {
					border-left-width: 9px !important;
					border-left-style: solid !important;

					&:nth-of-type(1) 		{ border-color: #BDC5C5 !important; }
					&:nth-of-type(2) 		{ border-color: #63727A !important; }
					&:nth-of-type(3) 		{ border-color: #0E1B2A !important; }
				}

				h3 {
					@extend .font-weight-normal;
					text-transform: initial;

					span {
						@extend .text-uppercase;
						@extend .d-block;
						color: #ADADAD;
					}
				}

				.display-4 {
					font-size: 4rem !important;
					font-weight: 700 !important;
				}
			}

			h3 {
		    font-size: 1.2rem;
		    font-weight: 400;
				color: $gray-dark-200;
			}

			.card-header {
				@extend .no-bg;
		    padding: 1.5rem 0 0.5rem 0;
		    margin: 0 1.25rem;
			}

	// Custom 01
	// White-bg + icon + badges
	//
		&.custom-01 {
			@extend .widget-01;
			border: 1px solid #BDC5C5;
			border-radius: 0px;

			.heading {

				position: relative;
				padding-bottom: 2rem !important;

				&::after {
					border-color: rgba(149, 152, 154, 0.16) !important;
				}

				&.pb-0 {
					padding-bottom: 0 !important;
				}

				.widget-title {
					float: right;
					position: absolute;
					right: 0;

					h3 {

						font-weight: 400;

						span {
							font-size: 14px;
							text-transform: uppercase;
							display: block;
						}
					}
				}
			}

			.badges-wrapper {
				.badge {
					height: 1.5rem;
					width: 1.875rem;
					margin-right: 0.1875rem;
					border-radius: 0px;
				}
			}

			@media (max-width: 320px) {
				.d-inline-flex.w-100:not(.heading) {
					.w-50:nth-of-type(1) {
						width: 40% !important;
					}

					.w-50:nth-of-type(2) {
						width: 60% !important;
					}
				}
			}

			@media (max-width: 1199px) {
				& {
					margin-bottom: 21px;
				}
			}
		}

	// Custom 02 - Small content
	// White-bg + icon + badges vertical
	//
		&.custom-02 {
			@extend .custom-01;

			.widget-title {
				float: none !important;
				right: auto !important;
				position: relative !important;

				h3 {
					text-align: right;
				}
			}

			.badges-wrapper {
				.badge {
					margin-right: 0px !important;
					margin-bottom: 0.1875rem;
				}
			}

			@media (min-width: 768px) and (max-width: 1199px) {
				&.card {
					min-width: 100%;

					// &:nth-of-type(1),
					// &:nth-of-type(3) {
					// 	margin-left: 0px;
					// }

					// &:nth-of-type(2),
					// &:nth-of-type(4) {
					// 	margin-right: 0px;
					// }
				}
			}

			@media (min-width: 576px) and (max-width: 1199px){
				&{
					min-width: 100%;
				}
				&:not(:last-child) {
					margin-left: 0;
				}
			}
		}
		/*
		&.card-img-sm {
			@extend .no-border;
			@extend .mb-3;
			border-radius: 0;

			span:not(.badge) {
					display: block;
					padding: 0.15rem 0;
					font-weight: 400;
			}

			span.badge {
				margin-left: 0.75rem;
				margin-top: 0.75rem;
			}

			.card-img {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-position: center center;
				background-repeat: no-repeat;
				background-size: cover;
				border-radius: 0;
				text-align: left;
			}

			.card-block {
				.card-title {
					@extend .mt-1;
					@extend .mb-1;
					font-size: 18px;
					color: $gray-dark-800;
				}

				.task, {
					font-size: 14px;
					font-weight: 400;
					color: $gray-800;
				}

				.type,
				.place {
					font-size: 15px;
					color: $gray-dark-400;
				}

				.fit,
				.value {
					font-size: 14px;
					color: $gray-dark-100;
				}
			}

			// omg!
			@include media-breakpoint-down(md) {
				.card-img {
					width: 100%;
					height: 150px;
					display: block;
				}

				.card-block {
					padding-top: 165px;

					.row > div:last-child {
						padding-top: 15px;
					}
				}
			}

			@include media-breakpoint-up(md) {
				.card-block {
					.row > div:last-child {
						text-align: right;
					}
				}
			}

			@include media-breakpoint-up(lg) {
				.card-img {
					height:100%;
				}
			}

			@include media-breakpoint-only(lg) {
				.card-img {
					width:150px;
				}

				.card-block {
					padding-left: 165px;
				}
			}

			@include media-breakpoint-up(xl) {
				.card-img {
					width:200px;
				}

				.card-block {
					padding-left: 215px;
				}
			}
		}
		*/

	// Custom 04 - Bootstrap Default + icon stack
	// White-bg + icon + badges
	//
		&.custom-04 {
			@extend .custom-01;

			.card-block {
				@extend .text-center;

				.icon-stack {
					@extend .mb-4;
				}

				.card-title {
					@extend .font-weight-bold;
					font-size: 1.25rem;
				}

				p {
					@extend .mb-4;
					font-size: 0.9rem;
				}

				.btn {
					text-transform: none;
				}
			}
		}


	// Custom 05 - Card Table
	//
		&.card-table {
			@extend .no-border;
			@extend .px-2;
			color: #95989A;

			.table-filter {
				background-color: $body-bg;
				padding: 1rem;

				@include media-breakpoint-down(md) {
					margin-bottom: 18px;
					margin-bottom: 1.5rem;
				}

				> .btn {
					&.focus,
					&:focus {
						-webkit-box-shadow: none;
						box-shadow: none;
					}
				}

				form {
					@extend .d-lg-flex;
					@extend .justify-content-between;

					.form-group {
						@extend .m-1;

						.custom-select {
							padding: 1rem 2rem 1rem 0.8rem;
							font-size: .8rem;
						}
					}
				}
			}

			.table {
				&:not(.table-responsive) {
					tr td:not(.id) {
						min-width: inherit;
					}
				}

				th,
				td,
				td.badge {
					padding: 1rem 0.75rem !important;
				}

				thead {
					&.no-border {
						th {
							border: none !important;
						}
					}
				}

				th {
					font-size: 13px;
					font-weight: $font-weight-medium;
					border-top: none;
					color: #6F7174;
				}

				td {
					font-size: 15px;

					img {
						max-width: 45px;
						max-height: 45px;
						margin-top: -4px;
						margin-right: 1rem;
					}

					button {
						@extend .mx-1;
						color: $gray-dark;

						i {
							font-size: 1.2rem;
						}

						&.focus,
						&:focus {
							outline: 0;
						}
					}

					span {
						&.price-range {
							width: 36px;
							display: inline-block;
							font-size: 14px;
						}
					}

					small {
						display: block;
					}

					> small,
					a > small {
						position: relative;
						top: 6px;
					}
				}

				&.table-hover {
					tr {
						&:hover {
							td {
								a,
								button {
									color: $gray-dark;
								}
							}
						}
					}
				}

				&.table-striped.table-hover {
					tbody {
						tr {
							&:nth-of-type(odd) {
								background-color: #f7f7f7;
							}

							td:last-of-type {
								a,
								button {
									min-width: 27px;
    							min-height: 27px;
    							margin-top: -3px;

									i {
										position: relative;
										top: 3px;
										color: $gray;
									}
								}
							}

							&:hover {
								background-color: #EAF0F0;

								td:last-of-type {
									a,
									button {
										&.text-default {
											i {
												color: $gray-dark;
											}
										}

										&.text-warning {
											i {
												color: $brand-warning;
											}
										}

										&.text-danger {
											i {
												color: $brand-danger;
											}
										}
									}
								}
							}
						}
					}
				}

				// Shared folder icon
				.share {
					@extend .d-inline-block;

					span.fa-stack {
						font-size: .6rem;

						i.fa-user {
					    font-size: 0.6rem;
					    padding-top: 1px;
						}

						// fix
						.fa-mail-forward:before,
						.fa-share:before {
							display: none;
						}
					}
				}
			}

			table {
				.checkbox {
					&:hover {
						@extend .no-border;
					}
				}

				p.empresa {
					@extend .text-uppercase;
				}

				span > small {
					display: block;
				}

				&:not(.table-striped) {
					&.no-border {
						tr > td {
							border-top: none;
						}
					}
				}
			}
		}

		&.card-processos {
			.card-block {
				.heading {
					p {
						font-size: 13px;
						color: #B1B1B1
					}

					.value {
						margin-top: 1rem;
						font-weight: $font-weight-medium;

						.ativos-value {
							font-size: 60px;
							font-size: 3.75rem;
						}

						.total-value {
							font-size: 30px;
							font-size: 1.9rem;
						}

						.ativos-value,
						.ativos-label {
							color: #6F7174;
						}

						.separator,
						.ativos-label
						.total-label {
							font-size: 18px;
							font-size: 1.1rem;
						}

						.separator,
						.total-value,
						.total-label {
							color: #BDBFC1;
						}

					}
				}

				.areas {
					.area {
						max-width: 360px;
						background-color: #FAFAFA;
						margin: 3px auto;
						padding: 12px 15px;

						button {
							width: 100%;
							display: block;

							&:focus,
							&.focus {
								outline: 0;
							}
						}

						h5 {
							margin: 0 !important;
							font-size: 15px;
							font-weight: $font-weight-medium;
							color: #555555;
							text-align: left;
							line-height: 21px;

							span {
								font-size: 21px;
								font-size: 1.2rem;
							}
						}
					}
				}
			}
		}

		&.card-fase,
		&.card-plano {
			border-left-width: 9px !important;
			border-left-style: solid !important;

			.card-block {
				padding-top: 0.9rem !important;
				padding-bottom: 0.45rem !important;

				@include media-breakpoint-up(md) {
					padding-left: 3rem;
					padding-right: 3rem;
				}

				h4,
				p {
					font-weight: $font-weight-medium;
					color: #555555;
				}

				h4 {
					margin: 0.9rem 0 0.3rem 0;
					font-size: 18px;
					font-size: 1.1rem;
				}

				p {
					margin: 0.3rem 0;
					font-size: 60px;
					font-size: 3.6rem;
				}
			}

			&.card-fase-1 {
				border-left-color:#45B27E !important;
			}

			&.card-fase-2 {
				border-left-color:#37468A !important;
			}

			&.card-fase-3 {
				border-left-color:#DF4E5D !important;
			}

			&.card-plano-1 {
				border-left-color:#43B7B1 !important;
			}

			&.card-plano-2 {
				border-left-color:#45AF68 !important;
			}

			&.card-plano-3 {
				border-left-color:#161632 !important;
			}
		}

		&.card-expectativa {
			.card-block {
				.heading {
					p {
						font-size: 13px;
						color: #B1B1B1
					}

					.value {
						margin-top: 1rem;
						font-size: 60px;
						font-size: 3.75rem;
						font-weight: $font-weight-medium;
						color: #6F7174;
					}
				}

				.data {
					p {
						margin-bottom: 0.3rem;
					}
					.title {
						font-size: 18px;
						font-size: 1.1rem;
						color: #6E6E6E;
					}

					.value {
						font-size: 18px;
						font-size: 1.1rem;
						font-weight: $font-weight-medium;
						color: #6F7174;
					}

					@include media-breakpoint-down(sm) {
						.row {
							margin-bottom: 1.2rem;
						}
					}

					@include media-breakpoint-up(lg) {
						.title {
							text-align: right;
						}

						.value {
							text-align: left;
						}
					}
				}
			}
		}
	}


	.andamento {

		.title {
			margin-bottom: 21px;
			font-size: 16px;
			font-weight: $font-weight-medium;
			color: $gray-dark-400 !important;
			text-align: left;
		}

		.caption,
		.data {
			min-height: 30px;
			line-height: 21px;
			text-align: left;
		}

		.caption {
			font-size: 12px;
			font-weight: $font-weight-medium;
			color: $gray-dark-400 !important;
		}

		.data {
			font-size: 15px;
			font-weight: $font-weight-normal;
			color: $gray-200 !important;
		}

		.data-localizacao {
			margin-bottom: 21px;
		}

		.data-fase {
			margin-bottom: 30px;
		}

		.data-localizacao,
		.data-parte-ativa,
		.data-parte-passiva {
			text-transform: uppercase;
		}

	}

	// vertical tabs
	.vertical-tabs {
		margin-top: 45px;

		p {
			color: #2E2F31 !important;
		}

		.nav-link {
			&:hover,
			&.active {
				border-left-color: $orange !important;
			}
		}

		.tab-pane {
			.lead {
				@extend .mb-4;
			}

			ul > li {

				&:not(:first-of-type) {
					@extend .pt-2;
				}

				.pane-list {
					@extend .d-inline-flex;

					p {
						color: #95989A !important;
						font-size: 1rem;

						&.title {
							@extend .text-uppercase;
						}
					}
				}
			}
		}
	}


	// Modal
	//
		.modal {
			.modal-content {
				border-radius: 0px;
			}

			.modal-header,
			.modal-body,
			.modal-footer {
				@include media-breakpoint-down(md) {
					padding-left: 30px;
					padding-right: 30px;
				}

				@include media-breakpoint-up(lg) {
					padding-left: 45px;
					padding-right: 45px;
				}
			}

			.modal-header,
			.modal-footer {
				@extend .no-border;
			}

			.modal-header {
				padding-top: 30px;
				padding-bottom: 30px;

				.modal-title {
					font-weight: 600;
				}
			}

			.modal-body {
				form {
					@include media-breakpoint-up(md) {
						.form-group:not(.d-inline-block) {
							label {
								margin-top: 12px;
								margin-top: 0.85rem;
							}
						}
					}

					.d-inline-block {
						width: 100%;
					}

					.form-group {
						margin-bottom: 1.2rem;
					}
				}
			}

			.modal-footer {
				padding-bottom: 30px;

				.btn-lg {
					padding: .75rem 1.5rem;
					min-width: 180px;
				}
			}

			@media (min-width: 767px) {
				.modal-dialog {
					max-width: 600px;
				}
			}
		}


	// List group
	//
		ol.list-group {
			&,
			.list-group-item {
				border-radius: 0px;
				border: none;
			}

			.list-group-item {
				opacity: 0.5;
				padding-bottom: 1.875rem;
				padding-left: 4.688rem;
	    	padding-top: 0;
	    	counter-increment: step-counter;
				// display: list-item;

				&.active {
					background-color: transparent;
					color: $body-color;
					opacity: 1;

					&::before {
						font-weight: 700;
					}
				}

				&::before {
					content: counter(step-counter) '.';
					text-align: center;
					padding-top: 0.5625rem;
					background: $white;
			    display: block;
			    width: 3.75rem;
			    height: 3rem;
			    position: absolute;
			    left: 0;
			    top: 0;
				}
			}
		}


	// Card -> deal-progress
	//
		.card.deal-progress {
			@extend .mt-5;

			h2 {
				color: $gray-800 !important;
			}

			img {
				@extend .mx-auto;
				max-width: 120px;
				display: block;
			}
		}


// Carousel
//

	.carousel {
		.carousel-inner {
			@extend .mx-auto;

			img {
				max-height: 20rem;
			}

			.swipebox {
				transition: $transition-base;

				&:hover {
					span,
					i {
						color: $white;
					}
				}
			}

			// Overlay
			//
			.o-gradient {
				// Positioning
				position: absolute;
		    margin: auto;
		    z-index: 1;
		    top: 0;
		    bottom: 0;
		    right: 0;
		    left: 0;
		    margin: 0 15px;

				// Background
				background: rgba(255,255,255,0);
				background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(19,19,19,1) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(19,19,19,1)));
				background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(19,19,19,1) 100%);
				background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(19,19,19,1) 100%);
				background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(19,19,19,1) 100%);
				background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(19,19,19,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#131313', GradientType=0 );

				.caption,
				.play {
					@extend .mx-auto;
					@extend .text-center;
					@extend .w-100;
				}

				.play {
					@extend .h-100;
					@extend .d-flex;
				}

		    i {
		    	@extend .align-self-center;
		    	@extend .mx-auto;
		    	@extend .icon-4x;
		    	color: rgba(255, 255, 255, 0.75);
		    }

		    .caption {
		    	position: absolute;
		    	bottom: 1rem;

		    	p {
		    		@extend .mb-1;
		    		font-size: 16px;
		    	}

		    	span {
		    		@extend .text-uppercase;
		    		font-size: 11px;
		    	}
		    }
			}
		}

		@media (max-width: 991px) {
			.carousel-item {
				div[class^="col-"]{
					margin-bottom: 1.5rem;
				}
			}
			.swipebox {
				img,
				.o-gradient {
					max-width: 30em;
					margin: 0 auto;
				}

				img {
					max-height: 100%;
				}
			}
		}

		// Pagination
		.carousel-indicators {
			bottom: -4rem;

			li {
				@extend .no-bg;
				max-width: 15px;
		    height: 15px;
		    border-radius: 50%;
		    border: 1px solid lighten($gray-100, 10%);
			}

			.active {
				background-color: $gray-100;
				border-color: $gray-100;
			}
		}

		// Next & Prev buttons
		.carousel-control-prev,
		.carousel-control-next {
			color: $gray-100;
			height: 3em;
	    width: 3em;
	    top: 0;
	    bottom: 0;
	    margin: auto;

			i {
				font-size: $icon-2x;
			}
		}

		.carousel-control-prev {
		  left: -3.25em;
		  & > i {
		  	@extend .text-left;

		  }
		}
		.carousel-control-next {
			right: -3.25em;

		  & > i {
		  	@extend .text-right;
		  }
		}
	}


// Pricing
//

	.pricing {
		.card {
			height: 100%;
			background-color: $white;
			@extend .no-border;
			text-align: center;

			&.card-collapse,
			&.card-collapse > div {
				width: 100%;
				@extend .mx-auto;
				padding-top: .75rem !important;
				padding-bottom: .75rem !important;
			}

			.card-header {
				@extend .mx-auto;
				@extend .py-0;
				border-bottom-width: 6px !important;
				border-bottom-style: solid !important;
				border-bottom-color: $gray;

				h2 {
					@extend .mb-1;
					font-size: 1.8rem;
					font-weight: $font-weight-normal;
					text-transform: uppercase;
				}
			}

			.card-block {
				@extend .py-5;
				-webkit-box-flex: inherit;
		    -webkit-flex: inherit;
		    -ms-flex: inherit;
		    flex: inherit;

				.card-title {
					@extend .mt-4;
					color: #606765;

					@include media-breakpoint-down(sm) {
						min-height: 36px;;
					}

					@include media-breakpoint-up(md) {
						min-height: 120px;
					}

					display: block;
					border-bottom: 1px solid #D8DFE5;

					h3 {

						font-size: 1.7rem;
						font-weight: $font-weight-normal;

						.currency,
						small {
							font-size: 0.9rem;
						}
					}

					.from {
						margin-bottom: 0.3rem;
						font-size: 1.1rem;
					}

					.details {
						font-size: 0.85rem;
					}
				}

				.card-text {
					font-size: 1rem;
				}

				ul {
					@extend .mt-4;
					@extend .mb-5;

					li {
						margin: 0.75rem 0;
						color: #95989A;
					}
				}

				.btn {
					&.btn-lg {
						padding-top: 0.9rem;
						padding-bottom: 0.9rem;
					}
				}

				.no-available {
					color: #EDEDED;
					text-decoration: line-through;
				}
			}

			.card-footer {
				border: none;
				background: transparent;
				padding-left: 2.5rem;
				padding-right: 2.5rem;
				font-size: 12px;
				font-weight: $font-weight-light;
				color: #a2a2a2;
				line-height: 1.35;
			}

			&.card-01 {
				.card-header {
					border-bottom-color: #43B7B1;

					h2 {
						color: #43B7B1;
					}
				}

				.btn {
					background-color: #43B7B1;

					&:hover {
						background-color: #3BA4A2
					}
				}
			}

			&.card-02 {
				.card-header {
					border-bottom-color: #45AF68;

					h2 {
						color: #45AF68;
					}
				}

				.btn {
					background-color: #45AF68;

					&:hover {
						background-color: #388B56
					}
				}
			}

			&.card-03 {
				.card-header {
					border-bottom-color: #161632;

					h2 {
						color: #161632;
					}
				}

				.btn {
					background-color: #161632;

					&:hover {
						background-color: #0E0E1D
					}
				}
			}

			&.current-plan {
				width: 100%;
				@extend .mb-3;

				.title {
					font-size: 1.1rem;
					font-weight: $font-weight-medium;
					color: #4B4B4B;
				}

				p {
					@extend .mb-0;
					font-size: 0.95rem;
					color: #B1B1B1;
				}
			}
		}

		.row > div {
			@include media-breakpoint-down(sm) {
				margin-bottom: 3rem;
			}
		}
	}


	.biblioteca {
		.item {
			min-height: 210px;
			border: 1px solid rgba(0,0,0,0.1);
			margin: 1.5rem auto;
			padding: 15px 21px;

			@include media-breakpoint-down(sm) {
				.cover {
					margin-bottom: 2.4rem !important;
				}
			}

			@include media-breakpoint-up(md) {
				overflow: hidden;

				.cover {
					max-width: 210px;
					float: left;
				}

				.info {
					margin-left: 225px;
				}
			}

			@include media-breakpoint-only(md) {
				.buy {
					margin-left: 225px;
				}
			}

			@include media-breakpoint-up(lg) {
				.buy {
					margin-left: 3rem;
				}
			}

			.cover {
				height: 180px;
				margin: 0 auto;
				text-align: center;

				img {
					max-height: 100%;
					margin: 0 auto;
					text-align: center;
				}
			}

			.info {
				margin-top: 1rem;

				.title {
					font-size: 18px;
					font-size: 1.2rem;
					font-weight: $font-weight-medium;
				}

				.subtitle {
					font-size: 13px;
					font-weight: $font-weight-medium;
					color: $gray-600;
				}

				.description {
					margin-top: 1.5rem;
					font-size: 14px;
				}
			}

			.buy {
				margin-top: 1rem;

				p {
					font-size: 18px;
					font-size: 1.2rem;
					font-weight: $font-weight-medium;
					white-space: nowrap;

					small {
						display: block;
						font-size: 70%;
						color: $gray-100;
						text-decoration: line-through;
					}
				}
			}
		}
	}
